<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=1000, initial-scale=1" />
    <meta charset="utf-8" />
    <title>牛娃投资加息活动</title>
    <!-- build:css /css/jiaxipc.min.css -->
    <link href="/css/jiaxipc.css" rel="stylesheet" type="text/css" />
    <link href="/css/sjkh.css" rel="stylesheet" type="text/css" />
    <link href="/css/idialog.css" rel="stylesheet" type="text/css" />
    <link href="/css/head-foot.css" rel="stylesheet" type="text/css" />
    <!-- /build -->
</head>

<body style="background: #ef2933">
    <%include ../tmp_head.html%>
    <div class="jiaxipc-banner"></div>
    <div class="jiaxipc-invest-div jiaxipc-invest-div1">
       <!--  <div class="jiaxipc-invest-left">
           <div class="jiaxipc-invest-jine">
               <div class="jiaxipc-touzijine">投资金额</div>
               <div class="jiaxipc-qujian">5000元-9999元</div>
           </div>
           <div class="jiaxipc-invest-shouyi">
               <div>年华收益立增</div><div>0.25%</div>
           </div>
       </div> -->
        <a class="jiaxipc-invest-btn" href="<%=domain%>invest"></a>
    </div>
    <div class="jiaxipc-invest-div jiaxipc-invest-div2">
        <a class="jiaxipc-invest-btn" href="<%=domain%>invest"></a>
    </div>
    <div class="jiaxipc-invest-div jiaxipc-invest-div3">
        <a class="jiaxipc-invest-btn" href="<%=domain%>invest"></a>
    </div>
    <div class="jiaxipc-invest-div jiaxipc-invest-div4">
        <a class="jiaxipc-invest-btn" href="<%=domain%>invest"></a>
    </div>
    <div class="jiaxipc-desc-div">
        <ul class="jiaxipc-desc">
            <li>活动规则：</li>
            <li>1. 在活动期间用户投资懒牛计划、智牛精选，单笔投资满足以上条件即可获得相应投资加息；</li>
            <li>2. 本次投资加息不可与红包等其他奖励同时享受；</li>
            <li>3. 活动最终解释权归上海牛娃互联网金融信息服务有限公司所有。</li>
        </ul>
    </div>
    <%include ../tmp_foot.html%>
</body>

</html>
<script type="text/javascript" src="/js/libs/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/libs/jquery.iDialog.js"></script>
<!-- build:js /js/jiaxipc.min.js -->
<script type="text/javascript" src="/js/jiaxipc.js"></script>
<script type="text/javascript" src="/js/head.js"></script>
<script type="text/javascript" src="/js/readmsg.js"></script>
<script type="text/javascript" src="/js/gototop.js"></script>
<!-- /build -->
