 <% wxList.forEach(function(v){%>
     <li class="clearfix">
         <div class="wximg"><img src='<%= v.headPic%>' /></div>
         <div class="wxinfo">
             <p><%= utils.subString(v.nickName,20)%><span><%= (v.receiveTime).split(' ')[0]%></span><span><%= ((v.receiveTime).split(' ')[1]).split(':')[0]%>:<%= ((v.receiveTime).split(' ')[1]).split(':')[1]%></span></p>
             <p><span style='padding-left:0;line-height:0.6rem'><%= tishiyu(Math.random())%></span></p>
         </div>
         <div class="moneylist"><%= v.redAmount%>元现金券</div>
     </li>
<%})%>