<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <title><%=title%></title>
    <meta name="description" content="<%=title%>" />
    <meta name="keywords" content="<%=title%>" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <!-- build:css /css/m9/fengkong-status.min.css -->
    <link href="/css/niuwah5.css" rel="stylesheet" type="text/css" />
    <link href="/css/h5dialog.css" rel="stylesheet" type="text/css" />
    <link href="/css/m9/h5header.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/m9/fengkong-status.css">
    <!-- /build -->
    <%include ./h5script.html %>
</head>

<body>
      
        <%if(status==1){%>
            <img class="error-img" src="/imgs/m9/ico-fenkong-success.png">
            <div class="error-text">
                <p class="big-black">恭喜您，服务申请已经通过</p>
                <p>成功为您向<span class="blue" >易换机</span>支付<span class="blue" ><%=shop.price%></span>元</p>
                <p>您可立即前往该商铺兑换商品或体验服务</p>
                <div class="btn-group">
                    <button class="btn btn-long btn-next btn-gotoindex">返回</button>
                </div>
            </div>
            <table class="reaylist" style="margin-top: 1rem;">
                <tr>
                    <td style="width: 3.6rem"><hr></td>
                    <td style="width: 2.8rem">还款计划</td>
                    <td style="width: 3.6rem"><hr></td>
                </tr>
            </table>
            <table class="reaylist" style="font-size: 0.32rem;">
                <%if(shop.totradeList && shop.totradeList.length){
                    for(var i=0;i<shop.totradeList.length;i++){var totrade=shop.totradeList[i]%>
                        <tr style="font-size: 0.32rem">
                            <td><%=totrade.term%></td>
                            <td><%=totrade.repaydate%></td>
                            <td><%=totrade.repayamount%></td>
                        </tr>
                    <%}%>
                <%}%>
            </table>
            <%}else if(status==2){%>
                <img class="error-img" src="/imgs/m9/ico-renzheng-shibai.png">
                <div class="error-text">
                    <p class="big-black">很抱歉，服务申请没有通过</p>
                    <p >您可以联系客服并咨询：><span class="blue">400-8846-898</span></a></p>
                    <div class="btn-group">
                        <button class="btn btn-long btn-next btn-gotoindex">返回</button>
                    </div>
                </div>
            <%}else if(status==3){%>
                <img class="error-img" src="/imgs/m9/watting-icon.png">
                <div class="error-text">
                    <p>正在为您支付，<%=shop.prodName%></p>
                    <p>请耐心等候，超过30分钟请联系在线客服</p>
                    <div class="btn-group">
                        <a class="btn btn-long btn-next" >联系客服</a>
                    </div>
                </div>  
            <%}%>
            <br>
            <br>
            <br>
            <br>
</body>

</html>

<script src="/js/libs/jquery-1.8.3.min.js"></script>
<script src="/js/libs/palert.js"></script>
<script src="/js/libs/ma.js" defer async=true></script>
<!-- build:js /js/m9/fengkong-status.min.js -->
<script type="text/javascript" src="/js/libs/jquery.iDialog.js"></script>
<script type="text/javascript" src="/js/libs/h5dialog.js"></script>
<script type="text/javascript" src='/js/m9/fengkong-status.js'></script>
 <!--/build--> 
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
