<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <title>还款</title>
    <meta name="description" content="还款" />
    <meta name="keywords" content="还款" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <!-- build:css /css/m9/repay_list.min.css -->
    <link href="/css/niuwah5.css" rel="stylesheet" type="text/css" />
    <link href="/css/h5dialog.css" rel="stylesheet" type="text/css" />
    <link href="/css/m9/h5header.css" rel="stylesheet" type="text/css" />
    <link href="/css/m9/repay_list.css"rel="stylesheet" type="text/css" >
    <!-- /build -->
    
   
</head>
	<%if(goback){%>
	<div class="h5header" style="height: 30px;line-height: 30px;font-size: 18px" ><%=title%></div>
	<%if(goback==true){%>
	<a href="javascript:history.go(-1);" class="goback2" style="line-height: 30px;top:0px;left:10px;width: 24px;height: 24px">
		
	</a>
	
	<%}else{%>
	<a href="<%=goback%>" class="goback2" style="line-height: 30px"></a>
	<%}%>
	
<%}else{%>
<div class="h5header" style='line-height: 30px'><%=title%></div>
<%}%>

<div style="clear: both;background: #E0E0E0;height: 0.1rem"></div>
	<body>
		<form>
			<%
				Object.keys(fbody).forEach(function(v,i){
			%>
				<input type="hidden" name="<%=v%>" value="<%=fbody[v]%>">
			<%
				})
			%>
		</form>
		
		<iframe src="/m9_2/pay" frameborder="0" style="width: 100%;height: 667px;"></iframe>
	</body>
	<script src="/js/libs/jquery-1.8.3.min.js"></script>
	<script src="/js/libs/querystring.js"></script>
	<script src="/js/common/formSubmit.js"></script>
	<script>
		$('iframe').height($(window).height()-40)
		
	</script>
</html>