<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>还款成功</title>
		
	    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="format-detection" content="telephone=no" />
	    <!-- build:css /css/m9/repay_success.min.css -->
	    <link href="/css/niuwah5.css" rel="stylesheet" type="text/css" />
	    <link href="/css/niubeih5.css" rel="stylesheet" type="text/css" />
	    <link href="/css/h5dialog.css" rel="stylesheet" type="text/css" />
	    <link href="/css/m9/h5header.css" rel="stylesheet" type="text/css" />
	    <link rel="stylesheet" type="text/css" href="/css/m9/repay_success.css">
	    <!-- /build -->
	    <%include ./h5script10.html %>
	</head>
	<body>
		 
		<div class="content">
			<%if(type==1){%>
			<img src="/imgs/m9/repay_success.png"/>
			<p class="p1">还款成功</p>
			<%}else{%>
			<img src="/imgs/m9/ico-renzheng-shibai.png"/>
			<p class="p1">还款失败</p>                   
			<%}%>
			<p class="p3">返回</p>
		</div>
	</body>

	<script src="/js/libs/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
		var goback='<%=goback%>'
		 $('.p3').click(function(){
		 	if(goback==''||goback=='list'){
		 		window.location.href='/m9/fenqifuwu-list'
		 	}else if(goback=='second'){
		 		window.location.href='/m9_2/fenqifuwu_second?backBtnStatus=backToIndex&type=yhj2_p3'
		 	}
		 	
		 })
	</script>
</html>
