<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <title><%=title%></title>
    <meta name="description" content="<%=title%>" />
    <meta name="keywords" content="<%=title%>" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <!-- build:css /css/m9/shenmeshitongxinrenzheng.min.css -->
    <link href="/css/niuwah5.css" rel="stylesheet" type="text/css" />
    <link href="/css/m9/h5header.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/m9/shenmeshitongxinrenzheng.css">
    <!-- /build -->
    <%include ./h5script.html %>
</head>

<body>

    <div class="content-body">
    <p>1.通讯认证是用户相关信息的一种认证手段，通过该认证后您可以使用牛娃互联网金融服务科技有限公司所提供的各类服务（下文简称牛娃）。</p>
    <br>
    <p>2.手机认证过程中，您将收到一条来自运营商的短信，通知您牛娃/牛呗在授权的情况下通过网上营业厅查询您的箱单，这是认证进行中的正常过程。</p>
    <br>
    <p>3.牛娃/牛呗承诺将妥善保管认证过程中获得的相关信息，隐私信息未经本人许可严格保密。</p>
    </div>
</body>

</html>
<script src="/js/libs/jquery-1.8.3.min.js"></script>
<script src="/js/libs/palert.js"></script>
<script src="/js/libs/ma.js" defer async=true></script>
<!-- build:js /js/m9/shenmeshitongxinrenzheng.min.js -->
<script type="text/javascript" src='/js/m9/shenmeshitongxinrenzheng.js'></script>
<!-- /build -->
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
