<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <title><%=title%></title>
    <meta name="description" content="<%=title%>" />
    <meta name="keywords" content="<%=title%>" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <!-- build:css /css/yibaozhifu.min.css --> 
    <link href="/css/niuwah5.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/m9/yibaozhifu.css">
    <!-- /build -->
    <%include h5script10.html %>
</head>

<body>
<p class='p1'>接第三方支付合作机构易宝支付通知，根据央行发布的《非银行支付机构网络支付业务管理办法》要求，为保障投资用户资金账户安全，易宝对账户系统进行了安全升级，投资用户需要追加两张银行卡认证，以完成资金账户的安全升级。</p>

<p class='p2'>认证注意事项：</p>

<p>1、已绑定提现银行卡及两张新认证的银行卡需为不同银行的三张银行卡。</p>
<p class="p3">2、用于安全升级认证的银行卡须为银行借记卡，不支持存折、信用卡认证。</p>

<p class="p4">为保证您的账户安全，请您及时完成升级认证操作。感谢您对牛娃互联网金融的理解与支持！如有疑问请致电400-8846-898咨询！</p>

<a href="/m11/yibao_bankcard">立即认证</a>
</body>
</html>