body,html{text-align: center;font-size: 0.22rem}
.pic1{width: 1.2rem;height: 1.2rem;margin-top: 0.5rem;}
.pass{font-size: 0.36rem;margin: 0.5rem 0 0.3rem 0;color: black;}
p{font-size: 0.24rem;color: #999999;}
.rest{color: #f85445;margin-bottom: 0.3rem;}
.detail{width: 6.1rem;font-size: 0.24rem;color: black;clear: both;display: inline-block;line-height: 0.5rem;}
.detail span:nth-child(1){float: left;}
.detail span:nth-child(2){float: right;}
.button{clear: both;width: 6.08rem;height: 0.9rem;background: #3296fa;color: white;text-align: center;line-height: 0.9rem;font-size: 0.34rem;border-radius:0.08rem ;display: inline-block;}
.repay_plan{margin: 0.5rem 0 0.3rem;height: 0.24rem;line-height: 0.24rem;position: relative;width: 5.54rem;display: inline-block;}
.repay_plan span{display: block;position: absolute;top: -0.06rem;left: 2rem;background: white;color: #999999;font-size: 0.24rem;z-index: 10;width: 0.24rem;width: 1.5rem;}
.repay_plan hr{color: #999;}
.term{width: 5.54rem;height: 0.24rem;margin-bottom:0.36rem ;font-size: 0.24rem;color: #999;display: inline-block;clear: both;}
.term span:nth-child(1){float: left;}
.term span:nth-child(2){float: left;margin-left: 1.27rem;}
.term span:nth-child(3){float: right;}
.jujianxieyi{margin-top: 1rem;font-size: 0.24rem;padding-bottom: 0.4rem;height: 0.24rem;}
.jujianxieyi img,.success img{float: left;margin-left: 1rem;width: 0.28rem;height: 0.28rem;margin-top: 0.05rem;margin-right: 0.1rem;}
.jujianxieyi a{color: #2994fd;}
.jujianxieyi span{float: left;}
#phone{font-size: 0.28rem;margin-top: 0.4rem;}
#phone a{color: #2994fd;}