body,html{background: #f2f2f2;text-align: center;}
.circle-plugins{margin-top: 0.78rem;}
p{font-size: 0.34rem;color: #333333;}
.p1{margin-top: 0.8rem;margin-bottom: 0.3rem;}
.p2{margin-bottom: 1.4rem;}
.button{width: 6.08rem;height: 0.9rem;background: #3296fa;color: white;text-align: center;line-height: 0.9rem;font-size: 0.34rem;border-radius:0.08rem ;}
nav{display: inline-block;}
#phone{font-size: 0.28rem;margin-top: 0.4rem;}
#phone a{color: #2994fd;}