
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <title>全新升级</title>
    <meta name="description" content="全新升级" />
    <meta name="keywords" content="全新升级" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <!-- build:css /css/niubeih5.min.css -->
    <link href="/css/niuwah5.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/niubeih5.css">
    <!-- /build -->

   
</head>
<body>  
    <img src="/imgs/niubei/publicity.png" width="100%">   
</body>
</html>