<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=1000, initial-scale=1" />
    <meta charset="utf-8" />
    <title>双“蛋”大派送活动</title>
    <!-- build:css /css/smashingeggs.min.css -->
    <link href="/css/smashingeggs.css" rel="stylesheet" type="text/css" />
    <link href="/css/sjkh.css" rel="stylesheet" type="text/css" />
    <link href="/css/idialog.css" rel="stylesheet" type="text/css" />
    <link href="/css/head-foot.css" rel="stylesheet" type="text/css" />
    <!-- /build -->
    <style type="text/css">
    /*右侧快捷导航*/
    
    .shortcut {
        position: fixed;
        right: 20px;
        bottom: 40px;
        width: 50px;
        height: 270px;
        z-index: 8888;
    }
    
    .shortcut a {
        display: block;
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: url(../imgs/floaticon.png);
    }
    
    .shortcut a.gotop {
        background-position: 0 0;
    }
    
    .shortcut a.gotop:hover {
        background-position: -68px 0;
    }
    </style>
</head>

<body>
    <%include ../tmp_head_smashingeggs.html%>
        <div class="smashingeggs_div smashingeggs_header">
            <div class="smashingeggs_eggs_container">
                <div class="smashingeggs_eggs_container_left">
                    <div id="smashingeggs_golden_egg" class="smashingeggs_egg_body"></div>
                    <div class="smashingeggs_egg_label">
                        <label id="golden_surplus">
                            <%- _g_surplus%>
                        </label>
                    </div>
                </div>
                <div class="smashingeggs_eggs_container_middle">
                    <img id="invest_now" class="smashingeggs_invest_now" src="/imgs/m6/smashingeggs/invest_now_up.png" />
                    <!-- <a href="/">aaaa</a> -->
                </div>
                <div class="smashingeggs_eggs_container_right">
                    <div id="smashingeggs_silver_egg" class="smashingeggs_egg_body"></div>
                    <div class="smashingeggs_egg_label">
                        <label id="silver_surplus">
                            <%- _s_surplus%>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="smashingeggs_div smashingeggs_bottom">
            <div class="smashingeggs_exchange_container">
                <div>
                    <div class="smashingeggs_exchange_text">
                        <p id="exchange_golden_egg_text">您已成功获得&nbsp;
                            <font color="white">
                                <%- _g_exchange%>
                            </font>&nbsp;张现金券</p>
                        <p>您可以</p>
                    </div>
                    <div>
                        <div id="exchange_golden_egg_btn" class="smashingeggs_exchange_btn">快速兑换现金券</div>
                    </div>
                </div>
                <div>
                    <div class="smashingeggs_exchange_text">
                        <p id="exchange_silver_egg_text">您还有&nbsp;
                            <font color="white">
                                <%- _s_exchange%>
                            </font>&nbsp;元现金券可分享</p>
                        <p>您可以</p>
                    </div>
                    <div>
                        <div id="exchange_silver_egg_btn" class="smashingeggs_exchange_btn">获取分享二维码</div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="smashingeggs_pannel_text">
            <ul>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;活动详情</li>
                <li>1. 活动期间用户单笔投资满10000元获得金蛋、银蛋各一枚，金蛋内的现金券发放给用户本人，银蛋内的现金券</li>
                <li>&nbsp;&nbsp;&nbsp;可分享给朋友；</li>
                <li>2. 用户砸开金蛋，将获得现金券一张，现金券奖励自动发放至用户的现金券账户；</li>
                <li>3. 用户砸开银蛋，将产生现金券分享链接，用户可通过朋友圈与好友共享现金券中的金额，抢到的现金券可登录</li>
                <li>&nbsp;&nbsp;&nbsp;平台至现金券账户查看；</li>
                <li>4. 尚未在平台注册的用户，领取现金券后，可至平台进行注册，完成实名认证并绑卡后，即可进行现金券的兑换；</li>
                <li>5. 请保持账户认证手机号码与领取现金券奖励时所填写的手机号码一致，手机号码填写错误，现金券不予以补发；</li>
                <li>6. 每个用户仅限领取一次银蛋中的现金券；</li>
                <li>7. 使用红包与加息券投资的用户不可同时参与返现活动；</li>
                <li>8. 活动仅限投资懒牛计划的用户参与；</li>
                <li>9. 活动期内未领取奖励视为放弃，不予以补发；</li>
                <li>10. 活动最终解释权归牛娃互联网金融所有。</li>
            </ul>
            </div>
        </div>
        <img id="smashingeggs_hammer" src="/imgs/m6/smashingeggs/hammer.png" />
        <input id="_domain" type="hidden" value="<%- domain%>" />
        <input id="_custId" type="hidden" value="<%- _custId%>" />
        <input id="_g_surplus" type="hidden" value="<%- _g_surplus%>" />
        <input id="_s_surplus" type="hidden" value="<%- _s_surplus%>" />
        <input id="_g_exchange" type="hidden" value="<%- _g_exchange%>" />
        <input id="_s_exchange" type="hidden" value="<%- _s_exchange%>" />
        <input id="_shareId" type="hidden" value="<%- _shareId%>" />
        <div id="smashing_golden_egg_success" class="dialog">
            <div class="dialogtop">
                <div class="close"></div>
            </div>
            <div class="title">恭喜您！</div>
            <div class="body">
                <p>获得“牛气冲天”&nbsp;
                    <font color="white" id="smashing_golden_egg_result">--</font>&nbsp;元现金券&nbsp;</p>
                <p>赶快和小伙伴们一起分享银蛋吧！</p>
            </div>
        </div>
        <div id="smashingeggs_smashing_eggs_fail" class="dialog">
            <div class="dialogtop">
                <div class="close"></div>
            </div>
            <div class="title">对不起！</div>
            <div class="body">
                <p>您目前还没有砸蛋次数</p>
                <p>赶紧投资获取&nbsp;
                    <font color="white">「双蛋」</font>&nbsp;吧</p>
                <p>
                    <div class="dialog_yellow_btn smashingeggs_invest_now">立即投资</div>
                </p>
            </div>
        </div>
        <div id="smashing_silver_egg_success" class="dialog">
            <div class="dialogtop">
                <div class="close"></div>
            </div>
            <div class="title">恭喜您！</div>
            <div class="body">
                <p>获得“牛人分享”&nbsp;
                    <font color="white" id="smashing_silver_egg_result">--</font>&nbsp;元分享现金券&nbsp;</p>
                <p>赶快邀请您的小伙伴一起来抢现金吧！</p>
                <p><img id="qrcodeimg"/></p>
                <p style="color:white;font-weight:normal">扫一扫二维码分享给好友</p>
            </div>
        </div>
        <div id="exchange_silver_egg_success" class="dialog">
            <div class="dialogtop">
                <div class="close"></div>
            </div>
            <div class="title"></div>
            <div class="body">
                <p><img id="qrcodeimg" src="/m6/getQRCode/<%- _shareId%>" /></p>
                <p style="color:white;font-weight:normal">扫一扫二维码分享给好友</p>
            </div>
        </div>
        <%include ../tmp_foot.html%>
</body>

</html>
<script type="text/javascript" src="/js/libs/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/libs/jquery.iDialog.js"></script>
<!-- build:js /js/smashingeggs.min.js -->
<script type="text/javascript" src="/js/smashingeggs.js"></script>
<script type="text/javascript" src="/js/head.js"></script>
<script type="text/javascript" src="/js/readmsg.js"></script>
<!-- /build -->