<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <title>充值说明</title>
    <meta name="description" content="注册" /> 
    <meta name="keywords" content="注册,牛娃p2p" /> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <!-- build:css /css/niuwah5.min.css -->
    <link href="/css/niuwah5.css" rel="stylesheet" type="text/css" />
    <!-- /build -->
    

</head>

<body class="inst-bg">
<div class="container">
    <div class="explain-info">
        <p><span class="number">1</span>、根据第三方资金托管平台提供的服务，充值使用的银行卡姓名与身份认证的姓名必须一致，必须填写银行预留手机号。</p>
        <p><span class="number">2</span>、单笔充值限额为2万元，单日充值限额为5万元，单月充值限额为10万元。</p>
        <p><span class="number">3</span>、当日充值的资金无法在当日提现。</p>
    </div>
</div>
</body>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5H47RG');</script>
</html>

