<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <title>学信网在线验证码获取流程</title>
    <meta name="description" content="注册" /> 
    <meta name="keywords" content="注册,牛娃p2p" /> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <!-- build:css /css/niuwah5.min.css -->
    <link href="/css/niuwah5.css" rel="stylesheet" type="text/css" />
    <!-- /build -->
    

</head>

<body>
<div class="container">
	<div class="chsibox">
		<h1 class="FS16 FAC">学信网在线验证码获取流程</h1>
		<div class="chsigetcode">
			<h2 class="stept"><span class="number">1</span>、注册学信网账号</h2>
			<p>
			如果没有注册过学信网账号，请访问以下网址，注册学信网账号。<br>
			<a href="https://account.chsi.com.cn/account/preregister.action?from=chsi-home">https://account.chsi.com.cn/account/preregister.action?from=chsi-home</a>
			<img src="imgs/chsi/01.png">
			<br>如果已有学信网账号，请访问以下网址登录<br>
	<a href="https://account.chsi.com.cn/passport/login">https://account.chsi.com.cn/passport/login</a>

			</p>

			<h2 class="stept"><span class="number">2</span>、登录学信网</h2>
			<p>
				新用户注册成功后，点击“立即登录”按钮，登录学信网。
				<img src="imgs/chsi/02.png">
				点击“学信档案”按钮进入学信档案页面。
				<img src="imgs/chsi/03.png">
			</p>

			<h2 class="stept"><span class="number">3</span>、申请在线验证码</h2>
			<p>
				（<span class="number">1</span>）点击左侧菜单栏“学籍信息（图像校对）”进入学籍信息页面，点击“申请该学籍在线验证报告”按钮。
				<img src="imgs/chsi/04.png">
				（<span class="number">2</span>）点击“在线支付”按钮。
				<img src="imgs/chsi/05.png">
				（<span class="number">3</span>）点击“确认”按钮，使用支付宝支付2元。
				<img src="imgs/chsi/06.png">
				（<span class="number">4</span>）完成支付后，点击“已完成支付”按钮
				<img src="imgs/chsi/07.png">
			</p>

			<h2 class="stept"><span class="number">4</span>、获得在线验证码</h2>
			<p>
				在页面下方出现在线验证码，这就是做学籍认证需要用到的12位在线验证码。
				<img src="imgs/chsi/08.png">
			</p>
		</div>
	</div>
</div>	
</body>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5H47RG');</script>
</html>

