<div class="">
<div class=Section1 style='layout-grid:15.6pt'>
<style>
    .italic{
        font-style: italic;
    }
    .underline{
        text-decoration: underline;
    }
</style>
<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt;'><b><span style='font-size:14.0pt;
font-family:"微软雅黑","sans-serif";color:#333333'>平台注册协议</span></b></p>
<p style="width:100%;text-align:center;margin-top:15px;">（发布日期：2017年7月3日）</p>
<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
text-indent:5.25pt;line-height:18.0pt'><b><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>特别提醒：</span></b><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>本平台包含由上海牛娃互联网金融信息服务有限公司（以下简称“牛娃互联网金融”）负责运营的网站平台（域名<span
lang=EN-US>www.i-niuwa.com</span>）及<span lang=EN-US>APP</span>平台。本注册协议在注册用户与本平台之间具有合同上的法律效力。本平台在此特别提醒您在注册成为本平台的用户前，请认真阅读、充分理解本协议各条款，特别是其中所涉及的免除及限制本平台责任的条款、对注册用户权利限制条款、隐私条款及风险提示条款等。请您审慎阅读并选择接受或不接受本协议。在您接受本协议并注册后，将有权依据本协议的条款享受本平台的服务，同时有义务接受本协议条款的约束。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>一、本协议的签订及签署</span></b></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>1.1 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本协议的内容包括以下全部条款以及本平台已经发布的及将来可能发布的与用户有关的各项规则及公告，上述条款及规则公告均为本协议不可分割的一部分，与本协议具有同等法律效力。</span></p>

<p class=MsoNormal align=left style='margin-top:6.0pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>1.2 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台有权根据需要修改本协议的内容。如以下条款或本平台各项规则有任何变更，本平台将在网站上刊载公告。经修订的相关条款和规则一经公告，即于公告规定的特定生效日期自动生效，本平台不作另行个别通知。如您在本款所述时限内未发送注册终止申请，则公告所述时限届满之时，视为您已经同意接受该等变更，经修订的相关条款和规则一经公告，即于公告规定的特定生效日期自动生效并对您产生法律约束力。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>1.3</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您只要勾选位于注册页面下方的<span lang=EN-US>&quot;</span>我已阅读并同意注册协议<span
lang=EN-US>&quot;</span>选项后，即视为您已经充分理解和同意本协议全部条款、内容及各类规则。在您按照本平台的流程成功注册后，本协议即产生法律效力。您不得以未签署书面纸质协议为由否认本协议的效力。本协议是由您与本平台共同签订的，适用于您在本平台的全部活动。在您成功注册成为本平台用户时，您已经阅读、理解并接受本协议的全部条款及各类规则，如有违反而导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><a name="_GoBack"></a><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>通过电脑端或手机<span lang=EN-US>APP</span>端任一方式，均可注册成为本平台的会员用户，本平台电脑端及<span
lang=EN-US>APP</span>端已实现用户数据及信息的同步及共享。你可以使用你在电脑端或<span lang=EN-US>APP</span>端注册的用户名及密码以任一方式登陆均可。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>1.4 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本协议不涉及您与本平台的其他注册用户之间因网上交易而产生的法律关系及法律纠纷。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>二、注册用户的身份要求</span></b></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>2.1 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>自然人用户</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>（<span lang=EN-US>1</span>）作为本平台用户，您必须是中华人民共和国大陆公民（不包括香港特区、澳门特区及台湾地区），年龄在<span
lang=EN-US>18</span>周岁及以上，且具有完全的民事权利能力及民事行为能力。如不具备上述资格，您应立即停止在本平台的注册程序、停止使用本平台服务，本平台有权随时终止您的注册进程及本平台服务，您应对您的注册给本平台带来的全部损失承担赔偿责任，且您的监护人应承担连带责任。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>（<span lang=EN-US>2</span>）在注册时和使用本平台服务的所有期间，您应提供您自身的真实资料和信息，并保证自您注册之时起至您使用本平台服务的所有期间，您所提交的所有资料和信息（包括但不限于电子邮件地址、联系电话、联系地址、邮政编码、个人身份信息、征信信息等）真实、准确、完整，且是最新的。如您向本平台提供的各项信息和资料发生变更，您应当及时在本平台更新相应的信息和资料，如因您未及时更新信息和资料导致本平台无法向您提供服务或发生错误，由此导致的全部法律责任和后果将由您独立承担。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>2.2 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>法人或其他形式的经济组织</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>（<span lang=EN-US>1</span>）作为平台用户，您必须是依法成立并有效存续的法人或其他形式的经济组织，注册及办公地在中华人民共和国（不包括香港特区、澳门特区及台湾地区）。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>（<span lang=EN-US>2</span>）在注册时和使用本平台服务的所有期间，您应提供您自身的真实资料和信息，并保证自您注册之时起至您使用本平台服务的所有期间，您所提交的所有资料和信息（包括但不限于企业或组织基本信息、经营情况、财务情况、信用报告、历史偿债情况、联系方式等）真实、准确、完整，且是最新的。如您向本平台提供的各项信息和资料发生变更，您应当及时在本平台更新相应的信息和资料，如因您未及时更新信息和资料导致本平台无法向您提供服务或发生错误，由此导致的全部法律责任和后果将由您独立承担。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>（<span lang=EN-US>3</span>）法人或其他形式的经济组织自行授权代理人代表自身进行平台操作，该代理人在平台上的一切操作均应得到法人或组织的授权，代理人的操作代表法人或组织的真实意愿表达，因代理人的操作不当或疏忽而导致的全部法律责任或后果由其代表的法人或组织独立承担。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>2.3 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>如您使用他人信息和文件注册使用本平台服务或向本平台提供的信息和资料不符合上述规定，由此引起的一切责任和后果均由您本人全部承担，本平台不因此承担任何法律责任，如因此而给本平台及其他用户造成任何损失，您应当承担赔偿本平台及其他用户损失的责任。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>2.4</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您在本平台所签署的各项协议及注册的各项信息对本平台所提供的手机<span lang=EN-US>APP</span>客户端同时适用。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>三、 本平台提供的服务</span></b></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>3.1</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台通过网站以及其他渠道和方式（包括但不限于手机<span lang=EN-US>APP</span>客户端等）向您提供以下服务中的一项或多项：发布融资需求、查阅交易机会、投资、债权转让、债权认购、签订和查阅合同等，具体详情以本平台当时提供的服务内容为准。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>3.2</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台将为您的融资、还款或资金的出借、回收等交易提供服务，并在服务过程中根据有关文件、协议和<span lang=EN-US>/</span>或本平台页面的相关规则、说明等收取必要的服务或管理费用，其具体内容、比例、金额等事项请参见有关文件及本平台相关页面的规则和说明（包括但不限于，就您每一笔成功转让的债权，本平台有权基于您所转让债权的金额向您收取一定比例的债权转让服务费等款项作为服务费用，具体比例及金额等请参见本平台的债权转让相关规则和说明）。您同意，本平台有权不时调整前述服务或管理费用的类型或金额等具体事项并根据本协议和相关规则进行公告、修改。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>四、 注册用户的使用限制</span></b></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>4.1 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您每次使用本平台服务应直接登录本平台或使用本平台提供的链接登陆（网址：</span><span lang=EN-US
style='font-family:"微软雅黑","sans-serif"'>http://www.i-niuwa.com/</span><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>。如本平台以公告等形式发布新的网址，请届时登陆新的网址），而不要通过邮件或其他网站提供的链接登录。您每次拨打本平台客服电话应拨打官方网站提供的客服电话<span
lang=EN-US>400-8846-898</span>（如本平台以公告等形式发布新的客服电话，请届时拨打新的客服电话），而不要拨打其他任何电话。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>4.2 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您不得利用本平台或本平台服务从事任何不符合中国法律法规或侵犯他人权益的活动。本平台在发现您从事该等活动时，有权不经通知而立即停止您对本平台的全部或部分功能的使用，由此给您造成的任何损失由您自己承担；如因您的前述活动给本平台及其他注册用户造成损失的，您应承担全部责任。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>4.3 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>在使用本平台提供的服务（包括但不限于站内信服务、群组服务、论坛服务或其他电子邮件转发服务）的过程中，您不得发送、公布或展示任何垃圾、广告邮件或其他可能违反中国法律法规及本协议内容的信息。本平台在发现您从事该等活动或发布该等内容时，有权不经您同意而阻止该等活动并删除该等内容，同时有权不经通知而立即暂停或停止您对本平台的全部或部分功能的使用，由此造成的任何损失由您承担。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>4.4 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您在注册时向本平台提交的手机、电子邮箱、用户名、密码及安全问题答案是您在本平台的唯一识别信息。您注册成功后，除非本协议另有约定，不得将注册的手机、电子邮箱、用户名、密码及安全问题答案转让或授权给第三方使用。您确认，使用您的手机、用户名和密码登录本平台后在本平台的一切行为以及以您在本平台注册时提交的个人电子邮箱发送邮件的行为均代表您本人并由您承担相应的法律后果。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>4.5</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台中的全部内容的知识产权（包括但不限于商标权、专利权、著作权、商业秘密等）均属于本平台所有，该等内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部信息（以下称“网站内容”）。本平台内容受中华人民共和国著作权法、各国际版权公约以及其他知识产权法律法规与公约的保护。未经本平台事先书面同意，您承诺不以任何方式复制、模仿、传播、出版、公布、展示网站内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。您承认网站内容是属于本平台的财产。未经本平台书面同意，您亦不得将本平台包含的资料等任何内容镜像到任何其他网站或者服务器。任何未经授权对网站内容的使用均属于违法行为，本平台将追究您的法律责任。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>4.6 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您保证并承诺您通过本平台进行交易的资金来源及用途的合法性。您同意，本公司有权按照包括但不限于公安机关、检察机关、法院等司法机关、行政机关、军事机关的要求协助对您的账户及资金等进行查询、冻结或扣划等操作。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>五、 用户信息及隐私的保护及披露</span></b></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>5.1 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您同意本平台在业务运营中收集、储存和分析您的用户信息，包括但不限于您自行提供的资料和信息，以及本平台自行追踪、收集、取得的您在本平台的交易记录和使用信息等。本平台收集、储存和分析您的用户信息的主要目的在于提高为您提供服务的效率和质量。除您提供或分享的信息，本平台还有可能收集的信息包括但不限于：</span></p>

<p class=MsoNormal align=left style='margin-right:7.5pt;margin-left:22.5pt;
text-align:left;text-indent:-18.0pt;line-height:24.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:Symbol;color:#141414'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b><span style='font-family:"微软雅黑","sans-serif";color:#141414'>日志信息</span></b><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>，指您使用我们的服务时，系统可能通过<span
lang=EN-US>cookies</span>、<span lang=EN-US>web beacon</span>或其他方式自动采集的技术信息，包括：</span></p>

<p class=MsoNormal align=left style='margin-right:15.0pt;margin-left:22.5pt;
text-align:left;text-indent:-18.0pt;line-height:24.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:"Courier New";color:#141414'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>设备或软件信息，例如您的移动设备、网页浏览器或用于接入我们服务的其他程序所提供的配置信息、您的<span
lang=EN-US>IP</span>地址和移动设备所用的版本和设备识别码；</span></p>

<p class=MsoNormal align=left style='margin-right:15.0pt;margin-left:22.5pt;
text-align:left;text-indent:-18.0pt;line-height:24.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:"Courier New";color:#141414'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>在使用我们服务时搜索或浏览的信息，例如您使用的网页搜索词语、访问的社交媒体页面<span
lang=EN-US>url</span>地址，以及您在使用我们服务时浏览或要求提供的其他信息和内容详情；</span></p>

<p class=MsoNormal align=left style='margin-right:15.0pt;margin-left:22.5pt;
text-align:left;text-indent:-18.0pt;line-height:24.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:"Courier New";color:#141414'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>有关您曾使用的移动应用（<span
lang=EN-US>APP</span>）和其他软件的信息，以及您曾经使用该等移动应用和软件的信息；</span></p>

<p class=MsoNormal align=left style='margin-right:15.0pt;margin-left:22.5pt;
text-align:left;text-indent:-18.0pt;line-height:24.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:"Courier New";color:#141414'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>您通过我们的服务进行通讯的信息，例如曾通讯的账号，以及通讯时间、数据和时长；</span></p>

<p class=MsoNormal align=left style='margin-right:15.0pt;margin-left:22.5pt;
text-align:left;text-indent:-18.0pt;line-height:24.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:"Courier New";color:#141414'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>您通过我们的服务分享的内容所包含的信息（元数据），例如拍摄或上传的共享照片或录像的日期、时间或地点等。</span></p>

<p class=MsoNormal align=left style='margin-right:7.5pt;margin-left:22.5pt;
text-align:left;text-indent:-18.0pt;line-height:24.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:Symbol;color:#141414'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b><span style='font-family:"微软雅黑","sans-serif";color:#141414'>位置信息</span></b><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>，指您开启设备定位功能并使用我们基于位置提供的相关服务时，收集的有关您位置的信息，包括：</span></p>

<p class=MsoNormal align=left style='margin-right:15.0pt;margin-left:22.5pt;
text-align:left;text-indent:-18.0pt;line-height:24.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:"Courier New";color:#141414'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>您通过具有定位功能的移动设备使用我们的服务时，通过<span
lang=EN-US>GPS</span>或<span lang=EN-US>WiFi</span>等方式收集的您的地理位置信息；</span></p>

<p class=MsoNormal align=left style='margin-right:15.0pt;margin-left:22.5pt;
text-align:left;text-indent:-18.0pt;line-height:24.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:"Courier New";color:#141414'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>您或其他用户提供的包含您所处地理位置的实时信息，例如您提供的账户信息中包含的您所在地区信息，您或其他人上传的显示您当前或曾经所处地理位置的共享信息，您或其他人共享的照片包含的地理标记信息；</span></p>

<p class=MsoNormal align=left style='margin-right:15.0pt;margin-left:22.5pt;
text-align:left;text-indent:-18.0pt;line-height:24.0pt'><span lang=EN-US
style='font-size:10.0pt;font-family:"Courier New";color:#141414'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-family:"微软雅黑","sans-serif";color:#141414'>您可以通过关闭定位功能，停止对您的地理位置信息的收集。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>5.2 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您可以授权本平台帮助您修改您在本平台填写的一切个人资料。本平台有权根据实际核验结果在不通知您的情况下对您所填写的与事实不符的资料进行修正或更改。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>5.3</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您同意，本平台可在某些网页上使用诸如“<span lang=EN-US>Cookies</span>”的资料收集装置。我们或我们的第三方合作伙伴，可能通过<span
lang=EN-US>cookies</span>和<span lang=EN-US>web beacon</span>收集和使用您的信息，并将该等信息储存为日志信息。我们使用自己的<span
lang=EN-US>cookies</span>和<span lang=EN-US>web beacon</span>，目的是为您提供更个性化的用户体验和服务，并用于以下用途：</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>&#8226;</span><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style='font-family:
"微软雅黑","sans-serif";color:#141414'>记住您的身份。例如：<span lang=EN-US>cookies</span>和<span
lang=EN-US>web beacon</span>有助于我们辨认您作为我们的注册用户的身份，或保存您向我们提供的有关您的喜好或其他信息；</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>&#8226;</span><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style='font-family:
"微软雅黑","sans-serif";color:#141414'>分析您使用我们服务的情况。例如，我们可利用<span lang=EN-US>cookies</span>和<span
lang=EN-US>web beacon</span>来了解您使用我们的服务进行什么活动，或哪些网页或服务最受您的欢迎；</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>&#8226;</span><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style='font-family:
"微软雅黑","sans-serif";color:#141414'>广告优化。<span lang=EN-US>Cookies</span>和<span
lang=EN-US>web beacon</span>有助于我们根据您的信息，向您提供与您相关的广告而非进行普遍的广告投放。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>我们为上述目的使用<span lang=EN-US>cookies</span>和<span lang=EN-US>web
beacon</span>的同时，可能将通过<span lang=EN-US>cookies</span>和<span lang=EN-US>web
beacon</span>收集的非个人身份信息，经统计加工后提供给平台参考或其他合作伙伴，用于分析您如何使用我们的服务，并用于广告服务。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>我们的产品和服务上可能会有广告商或其他合作方放置的<span lang=EN-US>cookies</span>和<span
lang=EN-US>web beacon</span>。这些<span lang=EN-US>cookies</span>和<span
lang=EN-US>web beacon</span>可能会收集与您相关的非个人身份信息，以用于分析用户如何使用该等服务、向您发送您可能感兴趣的广告，或用于评估广告服务的效果。这些第三方<span
lang=EN-US>cookies</span>和<span lang=EN-US>web beacon</span>收集和使用该等信息，不受本章《用户信息及隐私的保护及披露》约束，而是受相关使用者的隐私政策约束，我们不对第三方的<span
lang=EN-US>cookies</span>或<span lang=EN-US>web beacon</span>承担责任。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您可以通过浏览器设置拒绝或管理<span lang=EN-US>cookies</span>或<span lang=EN-US>web
beacon</span>。但请注意，如果停用<span lang=EN-US>cookies</span>或<span lang=EN-US>web
beacon</span>，您有可能无法享受最佳的服务体验，某些服务也可能无法正常使用。同时，您还会收到同样数量的广告，但这些广告与您的相关性会降低。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>5.4</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您同意本平台在业务运营中使用您的用户信息，包括但不限于<span lang=EN-US>(1)</span>根据双方另行签署的协议在本平台公示您的相关信息，<span
lang=EN-US>(2)</span>向本平台的合作机构（该合作机构仅限于本平台为了完成拟向您提供的服务而合作的机构）提供您的用户信息，包括但不限于本平台的手机<span
lang=EN-US>APP</span>端及电脑端的信息同步及共享<span lang=EN-US>(3)</span>由人工或自动程序对您信息进行评估、分类、研究，<span
lang=EN-US>(4)</span>使用您的用户信息以改进本平台的推广；以及<span lang=EN-US>(5)</span>使用您提供的联系方式与您联络并向您传递有关业务和管理方面的信息。本平台将不定期对用户信息进行抽查、核实以识别问题或解决争议，特别是本平台可审查您的资料以区分使用多个用户名或别名的用户。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>5.5</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台将采用行业标准惯例以保护您的用户信息，包括建立相应的信息保护制度和机制、设备等，但您应了解，上述保护措施可能受限于技术水平限制而不能确保您的信息不会通过本协议中未列明的途径泄露出去，本平台不承担因此而导致的任何损失或责任。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>5.6</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台有义务在行政、司法等有权机关要求时向该等机关提供您的用户信息。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>5.7 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>经国家生效法律文书或行政处罚决定确认您存在违法行为，或者本平台有足够事实依据可以认定您存在违法或违反本注册协议的行为的或者您借款逾期未还的，您同意并授权本平台在本平台及互联网络上公布您的违法、违约行为，并将该内容记入任何与您相关的信用资料和档案。同时作为借出人的其他用户或其授权代理人可以采取发布您的个人信息方式追索债权，本平台对该等借出人的行为免责。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>5.8 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>在本平台提供的服务中，您无权要求本平台提供其他用户的个人资料除非符合以下条件：（<span lang=EN-US>1</span>）您已向法院起诉其他用户在本平台活动中的违约行为；（<span
lang=EN-US>2</span>）本平台宣布无法继续运营，如解散、清算或者其他不利于您回收投资本息的情况。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>六、 本平台免责条款</span></b></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>6.1</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您同意，基于互联网的特殊性，本平台不担保服务不会中断，也不担保服务的及时性和<span lang=EN-US>/</span>或安全性。系统因相关状况无法正常运作，使您无法使用任何本平台服务或使用任何本平台服务时受到任何影响时，本平台对您或第三方不负任何责任，前述状况包括但不限于：（<span
lang=EN-US>1</span>）本平台系统停机维护期间。（<span lang=EN-US>2</span>）电信设备出现故障不能进行数据传输的。（<span
lang=EN-US>3</span>）由于黑客攻击、网络供应商技术调整或故障、网站升级、银行方面的问题等原因而造成的本平台服务中断或延迟。（<span
lang=EN-US>4</span>）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本平台系统障碍不能执行业务的。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>6.2</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台无法也没有义务保证您在发出融资要约或投资意向后，能够实际获得融资或投资成功，您因前述原因导致的损失（包括但不限于利息、手续费等损失）由您自行承担，本平台不承担责任。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>6.3</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台有权基于交易安全等方面的考虑不时设定涉及交易的相关事项，包括但不限于交易限额、交易次数等，您了解本平台的前述设定可能会对交易造成一定不便，对此没有异议。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>6.4 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台保留进一步核实您提供信息的准确性的权利。平台有权在任何时候根据自己的判断延迟交易的完成，以便核实有关信息或者核实该交易中是否存在违反法律、法规和乙方规则的情形。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>6.5</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>对非因本平台原因造成您泄露账户密码或相关信息导致的损失需由您自行承担。您应保证，不向其他任何人泄露您在注册时向本平台提交的电子邮箱、用户名、密码及安全问题答案，上述信息是您在本平台的唯一身份识别信息。您知晓，您应妥善保管您的本平台用户名、密码等与账户有关的一切信息。如您发现有他人冒用或盗用您的账户及密码或进行任何其他未经合法授权行为之情形时，应立即以书面方式通知本平台并要求本平台暂停服务。本平台将积极响应您的要求；但您理解，对您的要求采取行动需要合理期限，在此之前，本平台对已执行的指令及<span
lang=EN-US>(</span>或<span lang=EN-US>)</span>所导致的您的损失不承担任何责任。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>6.6 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您在本平台所确认的交易状态将成为本平台为您进行相关交易或操作的不可撤销的指令。您同意本平台有权按相关指令依据本协议及交易规则等约定对款项等事项进行处理。因您未能及时对交易状态进行修改、确认或未能提交相关申请所引起的任何纠纷或损失由您自行负责，本平台不承担任何责任。</span></p>

<p class=MsoNormal style='line-height:150%;layout-grid-mode:char'><span
lang=EN-US style='line-height:150%;font-family:"微软雅黑","sans-serif";color:#141414'>6.7</span><span
style='line-height:150%;font-family:"微软雅黑","sans-serif";color:#141414'>您了解，本平台委托第三方为您提供资金托管服务，充值、代收<span
lang=EN-US>/</span>代付及取现服务均通过第三方完成，可能涉及本平台与银行、第三方支付机构等第三方的合作。您同意：</span></p>

<p class=MsoNormal style='line-height:150%;layout-grid-mode:char'><span
style='line-height:150%;font-family:"微软雅黑","sans-serif";color:#141414'>（<span
lang=EN-US>1</span>）</span><span style='line-height:150%;font-family:"微软雅黑","sans-serif"'>平台不对资金托管方、银行及第三方支付机构进行相应资金划转的时限、准确性、及时性等作出任何承诺或承担任何相关责任，包括但不限于由此产生的利息、货币贬值、资金托管方与银行及第三方支付机构等执行划转指令出现错误、资金托管方与银行及第三方支付等机构系统故障、资金托管方与银行及第三方支付等机构对资金划转的特定限制等导致的损失或责任。</span></p>

<p class=MsoNormal style='line-height:150%;layout-grid-mode:char'><span
lang=EN-US style='line-height:150%;font-family:"微软雅黑","sans-serif"'>(2) </span><span
style='line-height:150%;font-family:"微软雅黑","sans-serif"'>一经您使用前述服务，即表示您不可撤消地授权平台委托合作的第三方进行相关操作，且该等操作是不可逆转的，你不能以任何理由拒绝付款或要求取消交易。</span></p>

<p class=MsoNormal style='line-height:150%;layout-grid-mode:char'><span
style='line-height:150%;font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>3</span>）就本条规定的资金托管服务，您应按照资金托管方与银行及第三方支付机构的规定支付相关费用（如有）。就费用支付事项产生的任何争议、纠纷等，均由甲方与资金托管方、银行及（或）第三方支付机构自行解决，平台不承担因此而产生的任何损失或责任。</span></p>

<p class=MsoNormal style='margin-top:7.8pt;line-height:150%;layout-grid-mode:
char'><span lang=EN-US style='line-height:150%;font-family:"微软雅黑","sans-serif"'>6.8
</span><span style='line-height:150%;font-family:"微软雅黑","sans-serif"'>如果平台发现因系统故障、资金托管方或银行或第三方支付机构执行指令错误或其他任何原因导致的在资金划转过程中出现的错误，无论是否有利于您或平台任何一方，平台均有权在通知您（包括但不限于通过平台公告、您提供的电子邮件、平台站内信或通知、短信）后立即纠正该错误而无需承担因前述错误而导致的任何损失或责任，您应当配合本平台完成上述错误纠正。</span></p>

<p class=MsoNormal style='margin-top:7.8pt;line-height:150%;layout-grid-mode:
char'><span style='font-size:12.0pt !msorm;line-height:150% !msorm;font-family:
仿宋 !msorm;color:windowtext !msorm'><span lang=EN-US style='line-height:150%;
font-family:"微软雅黑","sans-serif";color:#141414'>6.9 </span></span><span
style='font-size:12.0pt !msorm;line-height:150% !msorm;font-family:仿宋 !msorm;
color:windowtext !msorm'><span style='line-height:150%;font-family:"微软雅黑","sans-serif";
color:#141414'>您同意，本平台在根据交易规则委托第三方进行资金操作前，平台有权合理判断融资信息、投融资交易中</span></span><span
style='line-height:150%;font-family:"微软雅黑","sans-serif"'>是否包含了错误的信息（错误信息包括但不限于非故意提供的错误信息、由平台的过失引起的错误信息、以及因您的信息变更引起的错误信息），并且有权判断融资信息和投融资交易中是否违反了法律、法规和平台的规则，并且有权与您进行沟通以判断您相关信息的真实性，在此基础上，平台有权拒绝该笔交易的完成，并删除与此有关的任何内容。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>6.10 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台内容可能涉及或链接到由第三方所有、控制或者运营的其他网站（<span lang=EN-US>&quot;</span>第三方网站<span
lang=EN-US>&quot;</span>）。本平台不能保证也没有义务保证第三方网站上的信息的真实性和有效性。您确认按照第三方网站的注册协议而非本注册协议使用第三方网站，第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>6.11</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您同意，本平台有权在提供服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在本平台的任何页面上投放广告），并且，您同意接受本平台通过电子邮件或其他方式向您发送商品促销或其他相关商业信息。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>6.12 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台没有义务监测网站内容。为了保护本平台用户的合法权益及提供更好的服务，您确认并同意本平台有权不时地根据法律、法规、政府或监管部门要求或本平台自身发展要求透露、修改、屏蔽或者删除必要的、合适的信息。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>七、风险提示</span></b></p>

<p class=MsoNormal align=left style='text-align:left'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#333333'>7.1</span><span
style='font-family:"微软雅黑","sans-serif";color:#333333'>您了解并认可，任何通过本平台进行的交易并不能避免以下风险的产生，本平台不能也没有义务为如下风险负责：（<span
lang=EN-US>1</span>）宏观经济风险：因宏观经济形势变化，可能引起价格等方面的异常波动，您有可能遭受损失；（<span lang=EN-US>2</span>）政策风险：有关法律、法规及相关政策、规则发生变化，可能引起价格等方面异常波动，您有可能遭受损失；（<span
lang=EN-US>3</span>）违约风险：因其他交易方无力或无意愿按时足额履约，您有可能遭受损失；（<span lang=EN-US>4</span>）利率风险：市场利率变化可能对购买或持有产品的实际收益产生影响；（<span
lang=EN-US>5</span>）不可抗力因素导致的风险；（<span lang=EN-US>6</span>）因您的过错导致的任何损失 ，该过错包括但不限于：决策失误、操作不当、遗忘或泄露密码、密码被他人破解、您使用的计算机系统被第三方侵入、您委托他人代理交易时他人恶意或不当操作而造成的损失。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>7.2</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>您应了解，无论您通过本平台形成的借贷关系是否存在第三方担保，本平台及本平台的关联方股东、董事、员工、代理人均不以任何明示或默示的方式对您通过本平台形成的借贷交易及其履行提供任何担保或承诺，均不以任何明示或默示的方式保证由其他用户或机构提供的信息内容的真实性、充分性、及时性、可靠性、完整性和有效性。您应根据自身的风险承受能力，衡量交易相对方信息及其他相关信息以及与其交易的真实性和安全性，您通过本平台形成的任何借贷交易所产生的直接及间接的损失均由您自身承担。在任何情况下，本平台方对您使用本平台服务而产生的任何形式的直接或间接损失均不承担法律责任，包括但不限于资金损失、利润损失、营业中断损失等。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>八、 通知</span></b></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本协议项下的通知如以公示方式作出，一经在本平台公示即视为已经送达，而不作另行个别通知。除此之外，其他向您个人发布的具有专属性的通知将由本平台通过站内消息，向您在注册时或者注册后变更用户信息时向本平台提供的电子邮箱，或您在注册后在本平台绑定的手机发送，一经发送即视为已经送达。请您密切关注您在本平台账户中的站内消息、您的电子邮箱中的邮件及手机中的短信信息。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>九、 违约责任</span></b></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>9.1</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>如果您违反了您在本协议中所作的陈述、保证、承诺或任何其他义务，致使本平台或本平台的股东、实际控制人、员工、其他用户承受任何损失，您应向受损失的一方做出全额赔偿。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>9.2</span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>除本协议另有规定外，在任何情况下，本平台对本协议所承担的违约赔偿责任总额不超过向您收取的当次本平台服务费用总额。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>十、 争议解决及适用法律与管辖</span></b></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本协议的订立、执行和解释适用中国大陆地区适用的法律（但不包括其冲突法规则），如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。与本协议的解释和履行有关的争议应由上海牛娃互联网金融信息服务有限公司住所地具有管辖权的人民法院管辖。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>十一、 协议终止及账户功能关闭</span></b></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>11.1 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>除非本平台终止本协议或者您申请终止本协议及注销相应用户账户且经本平台同意，否则本协议始终有效。在您违反了本协议、相关规则，或在相关法律法规、政府部门的要求下，本平台有权通过本协议第八条约定的通知方式（包括但不限于电子邮件）告知您终止本协议、关闭您的账户或者限制您使用本平台。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>11.2 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>当您不再符合本协议第二条约定的注册用户身份条件（包括但不限于不再具中国公民身份、因故身亡、丧失民事行为能力等）致使本协议或无法继续履行时，本协议依法终止。您的合法授权代表、继承人、监护人、直系亲属在提交相关证明文件后，可向本平台申请查询您在本平台注册的用户信息及其他交易信息，并办理资产的转移。同时，本平台有权关闭您的账户。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>11.3 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台有权基于单方独立判断，在认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务，并将注册资料移除或删除，且无需对您或任何第三方承担任何责任。前述情形包括但不限于：（<span
lang=EN-US>1</span>） 本平台认为您提供的个人资料不具有真实性、有效性或完整性；（<span lang=EN-US>2</span>） 本平台发现异常交易或有疑义或有违法之虞时；（<span
lang=EN-US>3</span>） 本平台认为您的账户涉嫌洗钱、套现、传销、被冒用或其他本平台认为有风险之情形；（<span lang=EN-US>4</span>）
本平台认为您已经违反本协议中规定的各类规则及精神；（<span lang=EN-US>5</span>） 本平台基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务，并将注册资料移除或删除的其他情形。</span></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;text-align:center;
line-height:18.0pt'><b><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";color:#141414'>十二、 其他</span></b></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>12.1 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>12.2 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台可将本协议项下的权利义务转让给本平台的关联方。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>12.3 </span><span style='font-family:"微软雅黑","sans-serif";
color:#141414'>本平台对本协议享有最终的解释权。</span></p>

<p class=MsoNormal align=left style='margin-top:7.5pt;text-align:left;
line-height:18.0pt'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#141414'>12.4</span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>若您对本平台有任何投诉和建议，您可以将投诉信发送到本平台指定的如下邮箱：</span><span lang=EN-US
style='font-family:"微软雅黑","sans-serif";color:#333333'>suggest@i-niuwa.com</span><span
style='font-family:"微软雅黑","sans-serif";color:#333333'>。</span></p>

<p class=MsoNormal align=center style='margin-top:15.0pt;margin-right:0cm;
margin-bottom:7.5pt;margin-left:0cm;text-align:center;line-height:24.0pt'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#1C232E'>&nbsp;</span></p>

<p class=MsoNormal align=center style='margin-top:15.0pt;margin-right:0cm;
margin-bottom:7.5pt;margin-left:0cm;text-align:center;line-height:24.0pt'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#1C232E'>&nbsp;</span></p>

<p class=MsoNormal align=left style='margin-top:15.0pt;margin-right:0cm;
margin-bottom:7.5pt;margin-left:0cm;text-align:left;line-height:24.0pt'><b><span
style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";color:#1C232E'>附件<span
lang=EN-US>1</span>：<span lang=EN-US>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>论坛<span lang=EN-US>/</span>网上社区服务协议</span></b></p>

<p class=MsoNormal align=left style='margin-top:15.0pt;margin-right:0cm;
margin-bottom:7.5pt;margin-left:0cm;text-align:left;text-indent:21.0pt;
line-height:24.0pt'><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>本协议可视为《平台注册协议》的补充条款，与其构成统一整体，您对本协议的接受即受全部条款的约束，包括接受牛娃互联网金融对任一服务条款随时所做的任何修改。本《协议》可由上海牛娃互联网金融信息服务有限公司（以下简称“牛娃互联网金融”）随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在本平台查阅最新版协议条款。本协议的内容包括以下全部条款以及本平台已经发布的及将来可能发布的与用户有关的各项论坛或社区规则及公告，上述条款及规则公告均为本协议不可分割的一部分，与本协议具有同等法律效力。在牛娃互联网金融修改《协议》条款或规则及公告后，如果用户不接受修改后的条款，请立即停止使用牛娃互联网金融提供的服务，用户继续使用牛娃互联网金融提供的服务将被视为已接受了修改后的协议、规则及公告。</span></p>

<p class=MsoListParagraph align=left style='margin-top:15.0pt;margin-right:
0cm;margin-bottom:7.5pt;margin-left:59.25pt;text-align:left;text-indent:-54.0pt;
line-height:24.0pt'><b><span lang=EN-US style='font-size:12.0pt;font-family:
"微软雅黑","sans-serif";color:#1C232E'>第一章、<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></b><b><span style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";
color:#1C232E'>总则 </span></b></p>

<p class=MsoNormal align=left style='margin-top:15.0pt;margin-right:0cm;
margin-bottom:7.5pt;margin-left:0cm;text-align:left;line-height:24.0pt'><span
style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第一条、论坛或牛榜单是供所有牛娃互联网金融用户使用的综合性社区。</span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第二条、
论坛或牛榜单的各项网络服务由上海牛娃互联网金融信息服务有限公司提供。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第三条、用户充分了解并同意，论坛或牛榜单仅为用户提供信息分享、传送及获取的平台，用户必须为自己注册帐号下的一切行为负责，包括您所传送的任何内容以及由此产生的任何结果。用户应对论坛或牛榜单中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。牛娃互联网金融无法且不会对因用户行为而导致的任何损失或损害承担责任。
用户在牛娃互联网金融服务中或通过牛娃互联网金融服务所传送的任何内容并不反映牛娃互联网金融的观点或政策，牛娃互联网金融对此不承担任何责任。 </span></p>

<p class=MsoListParagraph align=left style='margin-top:15.0pt;margin-right:
0cm;margin-bottom:7.5pt;margin-left:59.25pt;text-align:left;text-indent:-54.0pt;
line-height:24.0pt'><b><span lang=EN-US style='font-size:12.0pt;font-family:
"微软雅黑","sans-serif";color:#1C232E'>第二章、<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></b><b><span style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";
color:#1C232E'>论坛或牛榜单用户的基本权利和义务 </span></b></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第四条、
使用牛娃互联网金融账号成功登陆论坛后即可成为论坛或牛榜单用户。</span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第五条、
论坛或牛榜单用户在不违反国家有关法规和论坛规定的前提下享有言论自由权利。</span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第六条、
发贴前请看清所在版面讨论的主题，不要发表与版面无关主题、与主题无关回复、上传与内容无关图片，链接与本主题无关的网址。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第七条、
发表文章及转载时请注明出处，禁止转载或引用涉及版权问题的文章。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第八条、
论坛或牛榜单用户有义务提供详尽、准确的个人资料，并不断更新注册资料，符合及时、详尽、准确的要求。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第九条、
论坛或牛榜单对用户提供的个人资料的保密，以下情况除外：<span lang=EN-US> 1. </span>论坛或牛榜单用户授权牛娃互联网金融公司透露这些信息。<span
lang=EN-US> 2. </span>相应的法律及程序要求牛娃互联网金融提供论坛用户的个人资料。 </span></p>

<p class=MsoListParagraph align=left style='margin-top:15.0pt;margin-right:
0cm;margin-bottom:7.5pt;margin-left:59.25pt;text-align:left;text-indent:-54.0pt;
line-height:24.0pt'><b><span lang=EN-US style='font-size:12.0pt;font-family:
"微软雅黑","sans-serif";color:#1C232E'>第三章、<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></b><b><span style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";
color:#1C232E'>牛娃互联网金融言论规范及处罚规则 </span></b></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第十条、
论坛或牛榜单用户言论包括：发表的文章（原帖和回复）、论坛昵称、个人说明、签名档、论坛留言等。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第十一条、
论坛或牛榜单用户言论若出现下列任意一种或几种情况，根据违法情节和危害后果，论坛或牛榜单将做永久限制全论坛发表权限处理，并将有关电子信息证据提交国法司法机关。 </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>1. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>反对宪法所确定的基本原则的； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>2. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>3. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>损害国家荣誉和利益的； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>4. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>煽动民族仇恨、民族歧视，破坏民族团结的； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>5. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>破坏国家宗教政策，宣扬邪教和封建迷信的； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>6. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>散布谣言，扰乱社会秩序，破坏社会稳定的； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>7. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>8. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>侮辱或者诽谤他人，侵害他人合法权益的； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>9. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>含有法律、行政法规禁止的其他内容的。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第十二条、
论坛或牛榜单用户发表的文章若出现下列任意一种或几种情况，论坛管理人员有权不通知作者直接删除或锁帖，并依照有关规定做出封禁版面发表权限、全论坛发表权限甚至永久性发表限制权限处理。
</span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>1. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>恶意灌水：包括：<span lang=EN-US>a.24</span>小时之内在本论坛同一版面发表内容相同或相似文章或回帖<span
lang=EN-US>5</span>篇以上者；<span lang=EN-US>b. 24</span>小时之内在本论坛<span lang=EN-US>5</span>个及以上的版面发表内容相同或相似的文章者；<span
lang=EN-US>c.</span>及其他不当行为。 </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>2. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>未经允许转载和抄袭他人作品，包括但不限于：<span lang=EN-US> a.</span>转载他人声明不得转载的作品；<span
lang=EN-US> b. </span>转载他人作品并未注明文章来源的；<span lang=EN-US> c.</span>抄袭他人作品；<span
lang=EN-US>d.</span>根据权利人的举报和提交的证据，证明论坛用户未经允许转载和抄袭权利人作品的； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>3. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>广告贴（广告版除外）和软文：非与牛娃互联网金融公司签订广告合同的宣传其他机构的文章； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>4. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>与版面主题无关的文章（包括文章内含有大量和版面主题无关或者负面的回帖）； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>5. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>不雅昵称：包括但不限于<span lang=EN-US>a.</span>含有反动、色情、侮辱字眼的<span
lang=EN-US> b.</span>与名人名字相同的<span lang=EN-US>c.</span>有广告性质的<span lang=EN-US>d.
</span>冒充论坛或牛榜单管理员和牛娃互联网金融公司官方人员的； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>6. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>损害牛娃互联网金融公司利益的。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第十三条、论坛或牛榜单用户发表的图片若出现下列任意一种或几种情况，论坛管理人员有权不通知作者直接删除，并依照有关规定做出封禁版面发表权限、全论坛发表权限甚至永久性发表限制权限处理。
</span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>1.</span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>张贴含一切色情、反动、恶意恐怖、人身攻击、青少年不宜的和其它不符合我国法律、法规的图片； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>2.</span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>张贴攻击政治、二战战犯<span lang=EN-US>/</span>著名反动人物肖像及其近似体、著名政治人物<span
lang=EN-US>/</span>明星<span lang=EN-US>/</span>公司肖像及其近似体的图片； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>3.</span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>张贴任何非法、有害、淫秽、粗俗、猥亵的，胁迫、骚扰、中伤他人的，诽谤、侵害他人隐私或诋毁他人名誉或商誉的，种族歧视或其他不适当的图片<span
lang=EN-US>; </span></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>4.</span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>张贴不雅、暴力、邪教等不良内容及图片； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>5.</span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>张贴侵犯任何人专利、商标、著作权、商业秘密或其他专属权利图片； </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>6.</span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>张贴与主题无关，没有咨询主题，以及完全由表情符号或者其他符号构成的图片。 </span></p>

<p class=MsoNormal style='margin-top:15.6pt;margin-right:0cm;margin-bottom:
15.6pt;margin-left:0cm'><b><span style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";
color:#1C232E'>第四章、版权声明 </span></b></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第十四条、
论坛或牛榜单用户（包括论坛管理员、版主）在论坛或牛榜单交流和发表的任何言论，只代表用户自身的观点，与牛娃互联网金融公司的观点无关。 作者文责自负。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第十五条、
信息版权归作者本人所有，论坛或牛榜单有权将在论坛或牛榜单发表的信息用于其他用途，（包括但不限于）网站、电子期刊等，文章有附带版权声明者除外。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第十六条、
因论坛或牛榜单用户抄袭引起的版权纠纷，请用户自行与原作者交涉版权问题。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第十七条、
本论坛文章、图片（包括转贴）版权仅归原作者所有，若作者有版权声明的或从其它网站转载而附带有原网站的版权声明者，其版权归属以附带声明为准。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第十八条、
任何试图转载、引用发表于本论坛的版权文章、图片须符合以下规范： </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>1. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>在用于非商业、非盈利、非广告性目的时需注明作者及文章、图片出处<span lang=EN-US>“</span>论坛或牛榜单。 </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>2. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>在用于商业、盈利、广告性目的时需事先和牛娃互联网金融平台以及文章、图片原作者取得联系，获得书面许可后方可使用。 </span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>3. </span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>任何修改与部分删除均需事先获得作者书面许可，并注明授权范围。 </span></p>

<p class=MsoNormal style='margin-top:15.6pt;margin-right:0cm;margin-bottom:
15.6pt;margin-left:0cm'><b><span style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";
color:#1C232E'>第五章、免责声明 </span></b></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第十九条、
论坛或牛榜单用户之间通过论坛相识、交往中所发生或可能发生的任何心理、生理上的伤害和经济上的纠纷与损失，牛娃互联网金融不承担任何责任。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第二十条、
论坛或牛榜单用户发表的文章、信息、内容违反法律规定，或侵犯他人合法权益的，由内容提供方承担法律责任，牛娃互联网金融不承担任何责任。 </span></p>

<p class=MsoNormal style='margin-top:15.6pt;margin-right:0cm;margin-bottom:
15.6pt;margin-left:0cm'><b><span style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";
color:#1C232E'>第六章、附则 </span></b></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第二十一条、
论坛或牛榜单规章制度条款未涉及的问题参见国家相关法律法规，当论坛规章制度与国家法律法规冲突时，以国家法律法规为准。 </span></p>

<p class=MsoNormal><span style='font-family:"微软雅黑","sans-serif";color:#1C232E'>第二十二条、
论坛各级管理人员可根据本基本法制定适用于自己管辖区域内的相关法规、条例、规则、制度，所有区域性的法规、条例、规则、制度必须报论坛管理部审核通过后方可发布实施。</span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>&nbsp;</span><span style='font-family:"微软雅黑","sans-serif";
color:#1C232E'>第二十三条、 本规则最终解释权归牛娃互联网金融所有。 </span></p>

</div>
<div style="font-size: 16px;font-family:'黑体'">
    <p class=MsoNormal align=left style='margin-top:15.0pt;margin-right:0cm;
    margin-bottom:7.5pt;margin-left:0cm;text-align:left;line-height:24.0pt'><b><span
    style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";color:#1C232E'>附件<span
    lang=EN-US>2</span>：<span lang=EN-US>&nbsp;&nbsp;
    </span>论坛<span lang=EN-US>/</span>征信查询授权书（借款用户）</span></b></p>  
    <h1 style="text-align:center;width:100%;display:block;font-size:20px;padding-bottom:20px;">征信查询授权书（借款用户）</h1>
    <p>上海牛娃互联网金融信息服务有限公司：</p>
    <p style="text-indent:2em;">本人【用户姓名】身份证号码【身份证号】拟向贵公司申请<span class="italic underline">小额借款或消费分期服务，</span>贵公司需要了解本人的信用记录，用于<span class="italic underline">审核借款申请条件、贷后管理及风险控制等</span>，因此本人特做出以下授权并清楚理解其含义：</p>
    <p style="text-indent:2em;font-weight:600">（一）本人同意授权贵公司向依法成立的征信机构及其他查询服务提供机构查询本人的征信信息<span class="italic underline">多次</span>，授权期限为<span class="italic underline">业务存续期</span>；</p>
    <p style="text-indent:2em;font-weight:600">（二）本人同意授权贵公司向依法成立的征信机构及其他查询服务提供机构提供因本协议业务产生的本人的信息；</p>
    <p style="text-indent:2em;font-weight:600">（三）本人同意授权贵公司向贵司的管理人员、董事、雇员、会计师、审计师、评估师、律师、顾问及其他合作方等依法提供因本协议业务产生的本人的信息（包括本人在本业务中产生的不良信息，且不再另行告知本人）；</p>
    <p style="text-indent:2em;font-weight:600">（四）本人同意授权依法成立的征信机构及其他查询服务提供机构基于本协议业务收集、整理、保存、加工、使用本人的信息；</p>
    <p style="text-indent:2em;font-weight:600">（五）本人同意授权拥有本人不良信息的信息提供者可以向依法成立的征信机构提供本人的不良信息，且不再另行告知本人；</p>
    <p style="text-indent:2em;font-weight:600">（六）本人同意并授权依法成立的征信机构及其他查询服务机构可与其合作的第三方进行联合研究，并可将通过本授权书获得的本人信息投入到该等联合研究中，但其合作的第三方应对在联合研究中所获取的本人信息予以保密。</p>
    <p style="text-indent:2em;">特别提示：</p>
    <p style="text-indent:2em;">为了保障您的合法权益，您应当阅读并遵守本授权书。请您务必审慎阅读，并充分理解本授权书的全部内容，特别是以加粗形式提示您注意的。<span style="font-weight:600">若您不接受本授权书的任何条款，请您立即停止授权。</span></p>
    <p style="text-indent:2em;">特别声明：</p>
    <p style="text-indent:2em;">本授权书经接受后即时生效，且效力具有独立性，不因相关业务合同或条款无效或被撤销而无效或失效，<span style="font-weight:600">本授权一经做出，便不可撤销。</span></p>
    <p style="text-indent:2em;font-weight:600;">本人已知悉本授权书全部内容（特别是加粗字体内容）的含义及因此产生的法律效力，自愿作出以上授权。本授权书是本人真实意思表示，本人同意承担由此带来的一切法律后果。</p>
</div>
</div>
