<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <title>红包说明</title>
    <meta name="description" content="注册" /> 
    <meta name="keywords" content="注册,牛娃p2p" /> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <!-- build:css /css/niuwah5.min.css -->
    <link href="/css/niuwah5.css" rel="stylesheet" type="text/css" />
    <!-- /build -->
    

</head>

<body class="inst-bg">
<div class="container">
    <div class="explain-info">
        <p><span class="number">1</span>、红包需要在有效期内使用，一次只能使用一个，逾期自动失效。</p>
        <p><span class="number">2</span>、一个红包不能拆分多次使用。</p>
        <p><span class="number">3</span>、还款抵扣红包可在本人还款的时候使用，抵扣部分还款金额。</p>
        <p><span class="number">4</span>、要获得实惠多多的红包，平时多留意牛呗的活动哦。</p>
    </div>
</div>
</body>
</html>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5H47RG');</script>
