<% include header.html %>
<body>
<div class="signbox">
<h3>恭喜您注册成功</h3>
<div id="regico">
	<div class="gcoin a-bounce"></div>
</div>
<p>请在PC端登录</p>
<p>www.i-niuwa.com</p>
<p>开启您的牛娃投资之旅吧</p>
<% if(sid=="1028"){%>
<p style="padding-left: 4em;  padding-top: 2em;"><a href="http://wx.wenanji.com/wap/lm/middle?gh_id=1939307188753268737&aid=1433758912553235816&to=http%3A%2F%2Fwx.wenanji.com%2Fwap%2Flm%3Fgh_id%3D1939307188753268737%26aid%3D1433758912553235816%26v%3D6F87Y"><img width="200" src="/imgs/qiangll.png"/></a></p>
<%}%>
</div>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5H47RG');</script>
</body>
</html>

