<% include header.html %>
<body>
<div class="signbox">
<h3>报名成功，结果将于10月1日公布</h3>
<div id="signico" class="a-ring"></div>
<p>每月将从报名者中抽取一位报名理由<p>
<p>最有特色的学生送出神秘大奖</p>
</div>
</body>
</html>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5H47RG');</script>
