<!-- 底部 -->
<div style="" id="footer">
	<div  class="niuwa-wrap clearfix mt10 black" id="footer-box" style="border:0">
		<div class="index-footer clearfix">
			<div class="left-wrap clearfix">
				<div class="foot-nav">
					<ul>
						<li><a href="<%=domain%>aboutus" class="title">关于我们</a></li>
						<li><a href="http://www.niuwacredit.com">牛娃官网</a></li>
						<li><a href="<%=domain%>aboutus/p">平台优势</a></li>
						<li><a href="https://promo.i-niuwa.com/m3/niubei" target="_blank">牛呗APP</a></li>
					</ul>
					<ul>
						<li><a href="<%=domain%>invest" class="title">投资方案</a></li>
						<li><a href="<%=domain%>newclient">新牛专享</a></li>
						<li><a href="<%=domain%>plan">懒牛计划</a></li>
						<li><a href="/m7/xsqglist">精选活动</a></li>
					</ul>
					<ul>
						<li><a href="<%=domain%>society_accept" class="title">安全保障</a></li>
						<li><a href="<%=domain%>society_accept">社会认可</a></li>
						<li><a href="<%=domain%>project_safeguard">项目安全</a></li>
						<li><a href="<%=domain%>fund_safeguard">资金安全</a></li>
					</ul>
					<ul>
						<li><a href="<%=domain%>help" class="title">帮助中心</a></li>
						<li><a href="<%=domain%>choose">新手指引</a></li>
						<li><a href="<% if(user == null) { %><%=domain%>register<%}else{%><%=domain%>p/account/securitymanage<%}%>">注册认证</a></li>
						<li><a href="<%=domain%>helpshow/1-1">常见问题</a></li>

					</ul>
				</div>
				<div class="right-wrap">
					<p>全国客服热线</p>
					<div class="tel400 font36 colwhite">400-8846-898</div>
					<div class="work-time">工作日 9:00-21:00<br>节假日 9:00-18:00</div>
					<div class="foot-weixin"><img src="/imgs/weixinimg2.png" width="114" height="127"> </div>
				</div>


			</div>

			<div class="web-link clearfix">
				<div class="link-label">友情链接：</div>
				<div class="link-all">


					<a href="http://www.jingyi98.com" target="_blank" title="经亿网贷">经亿网贷</a>
					<a href="http://www.midai.cn/" target="_blank" title="米袋网">米袋网</a>
					<a href="http://www.erongtu.com/" target="_blank" title="融途网">融途网</a>
					<a href="http://www.ttwdai.com" target="_blank" title="天天网贷">天天网贷</a>
					<a href="http://www.p2p110.com" target="_blank" title="网贷110">网贷110</a>
					<!--<a href="http://www.wdj168.com" target="_blank" title="网贷界">网贷界</a>-->
					<a href="http://daohang.wangdaiguancha.com" target="_blank" title="网贷观察网">网贷观察网</a>
					<a href="http://www.sfia.org.cn" target="_blank" title="上海金融信息行业协会" style="width: 130px;">上海金融信息行业协会</a>
					<div></div>
					<!--<a href="http://www.wangdaibuluo.com/pingtai" target="_blank" title="网贷部落">网贷部落</a>-->
					<!--<a href="http://www.wangdaidp.com" target="_blank" title="网贷点评网">网贷点评网</a>-->
					<a href="http://www.wangdai3.com" target="_blank" title="网贷第三方">网贷第三方</a>
					<a href="http://www.p2peye.com/" target="_blank" title="网贷天眼">网贷天眼</a>
					<a href="http://www.wdtianxia.com/" target="_blank" title="网贷天下">网贷天下</a>
					<a href="http://www.p2pchina.com" target="_blank" title="网贷中国">网贷中国</a>
					<a href="http://www.wangdaitiandi.com/" target="_blank" title="网贷天地">网贷天地</a>
					<a href="http://www.wangdaizhijia.com/" target="_blank" title="网贷之家">网贷之家</a>
				</div>
			</div>


			<div class="approve clearfix">
				<!-- <a href="https://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=dov73ne26zbqq0ilcr2gs9w5imthzi7bx5" class="gongshang" target="_blank"></a> -->
				<a href="https://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20160222121245727" class="gongshang" target="_blank"></a>
				<a href="http://www.miitbeian.gov.cn/" class="beian" target="_blank"></a>
				<a href="http://www.cfca.com.cn/" class="cfca" target="_blank"></a>
				<a href="https://sealsplash.geotrust.com/splash?&dn=www.i-niuwa.com" class="geotrust" target="_blank"></a>
				<a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1324324183" class="webtrust" target="_blank"></a>
				<a href="https://credit.szfw.org/CX20150721010806200197.html" class="cxweb" target="_blank"></a>
				<a href="http://www.anquan.org/authenticate/cert/?site=www.niuwap2p.com&at=business" class="anquan" target="_blank"></a>
                <!--<a href="https://ss.knet.cn/verifyseal.dll?sn=e150806310101597602ghf000000&amp;ct=df&amp;a=1&amp;pa=0.9503582664765418" class="kexing" target="_blank"></a>-->
                <a href="https://ss.knet.cn/verifyseal.dll?sn=e150806310101597602ghf000000&a=1&pa=0.14782457209342892" class="kexing" target="_blank"></a>
			</div>

			<div class="copyright">

				版权所有©上海牛娃互联网金融信息服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;沪ICP备15002518号<br>
				Shanghai Niuwa Internet Financial Information Service Co.,Ltd.<br>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/libs/jquery-1.8.3.min.js"></script>
<script src="/js/libs/jquery.iDialog.js"></script>
<script type="text/javascript" src='/js/libs/global.js'></script>
<script>
	var users ="<%if(user){%><%=user.custId%><%}%>";
	var domain='<%=domain%>';
</script>
<script src="/js/libs/ma.js" defer async=true></script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5H47RG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5H47RG');</script>
<!-- End Google Tag Manager -->
<%include guoqing.html%>
