<style type="text/css">
	/* 生日 */
.birthlayer{
    position: absolute;
    z-index:8889;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=5);
}
.birthbox{
    width:554px;
    height:319px;
    background:url('/imgs/birthdayimg/birthbg.png');
    position: absolute;
    z-index:8890;
    top:321.5px;left:218px
}
.combirthbox{
    width:554px;
    height:319px;
    background:url('/imgs/birthdayimg/jiangpbg.png') !important;
    position: absolute;
    z-index:8890;
    top:321.5px;left:218px
}
.lingqubirgiftbtn{
    width:183px;
    height:51px;
     margin:246px auto 0;
    background:url('/imgs/birthdayimg/getbirgift.png');
    cursor: pointer
}
.quedingbirgiftbtn{
    width:182px;
    height:51px;
    margin:246px auto 0;
    background:url('/imgs/birthdayimg/queding.png');
    cursor: pointer
}
.quedingbirgiftbtnun{
    width:182px;
    height:51px;
    margin:246px auto 0;
    background:url('/imgs/birthdayimg/quedingun.png') !important;
    cursor:wait;
}
.brithjiaxi{
    height:90px;
    width:230px;
    background:url('/imgs/birthdayimg/birgift.png');
    background-position:0 0;
    float:left;
    margin-top:103px;
    margin-left:29px
}
.brithxianjin{
    width:220px;
    height:118px;
    background:url('/imgs/birthdayimg/birgift.png');
    background-position:-2px -95px;
    float:left;
    margin-top:87px;
    margin-left:41px
}
.brithjiaxi p,.brithxianjin p{
    color:#fff;
    font-size:12px;
    line-height:16px;
}
.title-hot{
    width: 25px;
    height: 11px;
    display: block;
    position: absolute;
    top: 28px;
    left: 122px;
    z-index: 10;
    background: url(../imgs/hot.png);
}
</style>

<% if(user){%>
<div class="niuwa-header-wrap">
	<div class="niuwa-header-wrapbg">
		<div class="niuwa-header clearfix">
			<div class="service-phone"><div>客服热线:</div>400-8846-898</div>
			<div class="title-menu">
				<ul>
					<li>欢迎您 <a href="<%=domain%>p/account/my"><%=user.loginname%></a></li>
					<li><a href="<%=domain%>p/myaccount" style="float:left;">我的账户</a></li>
					<li id="messagemanage"><a href="<%=domain%>p/account/messagemanage">消息 <cite id="xiaoxicount" style="display: none;font-style: normal; color: rgb(250, 75, 75);">(<span id="msgCount">0</span>)</cite></a></li>
					<li><a href="<%=domain%>p/account/recharge">充值</a></li>
					<li><a href="<%=domain%>logout">退出</a></li>
					<li class="nobd"><a href="<%=domain%>help">帮助中心</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<%}else {%>
<div class="niuwa-header-wrap" id="niuwheader">
	<div class="niuwa-header clearfix">
		<div class="service-phone"><div>客服热线:</div>400-8846-898</div>

		<div class="title-menu">
			<ul>
				<li><a href="<%=domain%>register" class="active">免费注册</a></li>
				<li><a href="<%=domain%>login?apchy=smashingeggs">立即登录</a></li>
				<li class="nobd"><a href="<%=domain%>help">帮助中心</a></li>
			</ul>
		</div>
	</div>
</div>
<%}%>
<div class="niuwa-header-menu-wrap">
	<div class="niuwa-header-menu-bg">
		<div class="niuwa-header-menu clearfix">
			<div class="logo">
				<a href="/"><img src="/imgs/logo.png" width="357" height="52"> </a>
			</div>
			<ul>
				<li><a href="<%=domain%>" class="activity">首页</a></li>
				<li><a href="<%=domain%>invest">我要投资</a>
					<div class="header-menu-child" style="display: none;">
						<div class="header-menu-icontop"></div>
						<ul>
                            <li><a href="<%=domain%>newclient">新牛专享</a></li>
                            <li><a href="/m7/xsqglist">精选活动</a></li>
							<li><a href="<%=domain%>plan">懒牛计划</a> </li>
							<!-- <li><a href="<%=domain%>featured">智牛精选</a> </li>
							<li><a href="<%=domain%>claim">债权转让</a> </li> -->
						</ul>

					</div>
				</li>
				<li><a href="<%=domain%>society_accept">安全保障</a></li>
				<!-- <li><a href="<%=promodomain%>m7/huixiangshenghuo">惠享生活</a><span class="title-hot"></span></li> -->
				<li><a href="<%=domain%>aboutus">关于我们</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- 头部结束 正文部分 -->