/*reset*/
*
{
    padding: 0px;
    margin: 0px;
}
h1, h2, h3, h4, h5, h6
{
    padding: 0px;
    margin: 0px;
}
img
{
    border: none;
}
dl, dt
{
    padding: 0px;
    margin: 0px;
}
a
{
    text-decoration: none;
    font-family: "微软雅黑";
}
.cl
{
    clear: both;
    font-family: "微软雅黑";
}
.fl
{
    float: left;
    font-family: "微软雅黑";
}
.fr
{
    float: right;
    font-family: "微软雅黑";
}
ul, li
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微软雅黑";
}
body{font:14px/22px "微软雅黑","宋体",Arial,'\5b8b\4f53',Helvetica,sans-serif;color:#666;background:#F2F4F7}
a{color:#666;text-decoration:none; cursor:pointer; outline:none;}
.niuwa-header-wrap {
    width: 100%;
    background: #fff;
    height: 40px;
    border-bottom: 1px solid #dcdcdc;
}
.clearfix:before,

.clearfix:after {

    display: table;

    line-height: 0;

    content: "";

}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/*body正文*/
.divtop{
    width:100%;
    min-wdith:1200px;
    height:613px;
    background:url("../imgs/market/top.png");
    background-position:center;
}
.divtop .topbody{
    position:relative;
    width:1200px;
    margin:0 auto;
    height:613px;
    background:url("../imgs/market/top2.png");
    background-position:center;
}
.divbg1{
    width:100%;
    min-wdith:1200px;
    height:702px;
    background:url("../imgs/market/bg1.png");
    background-position:center;
}
.divbg1 .bgbody1{
    position:relative;
    width:1200px;
    margin:0 auto;
    height:702px;
    background:url("../imgs/market/bg1.png");
    background-position:center;
}
.bgbody1 .hongbao{
    width:1200px;
    height:266px;
    background:url("../imgs/market/hongbao.png");
    position:absolute;
    top:-146px;
    left:0;
    background-position:center;
}
.divbg2{
    width:100%;
    min-wdith:1200px;
    height:533px;
    background:url("../imgs/market/bg2.png");
    background-position:center;
}
.divbg2 .bgbody2{
    position:relative;
    width:1200px;
    margin:0 auto;
    height:533px;
    background:url("../imgs/market/bg2.png");
    background-position:center;
}

.divbg3{
    width:100%;
    min-wdith:1200px;
    height:588px;
    background:url("../imgs/market/bg3.png");
    background-position:center;
}
.divbg3 .bgbody3{
    position:relative;
    width:1200px;
    margin:0 auto;
    height:588px;
    background:url("../imgs/market/bg3.png");
    background-position:center;
}
.divbg4{
    width:100%;
    min-wdith:1200px;
    height:532px;
    background:url("../imgs/market/bg4.png");
    background-position:center;
}
.divbg4 .bgbody4{
    position:relative;
    width:1200px;
    margin:0 auto;
    height:532px;
    background:url("../imgs/market/bg4.png");
    background-position:center;
}
.divbg4 .content{
    float: left;
    width:1200px;
    margin-top:76px;
    height:301px;
    background:url("../imgs/market/bg4box.png");
}
.divbg5{
    width:100%;
    min-wdith:1200px;
    height:640px;
    background:url("../imgs/market/bg5.png");
    background-position:center;
}
.divbg5 .bgbody5{
    position:relative;
    width:1200px;
    margin:0 auto;
    height:640px;
    background:url("../imgs/market/bg5.png");
    background-position:center;
}
.footerreg{
    width:100%;
    min-wdith:1200px;
    height:172px;
    background:url("../imgs/market/footerreg.png");
    background-position:center;
}
.footerregbody{
    width:1200px;
    height:172px;
    margin:0 auto;
    background:url("../imgs/market/footerreg.png");
    background-position:center;
}
a{display: block;}
a:hover{
   color:#FC5D47 !important;
}
a.firsta{
    font-size:18px;
    color:#333333;
    /*font-weight:bold;*/
}
a.secenda{
    font-size: 12px;
    color:#666666;
    line-height:20px;
}
.aboutbox{
    width:1200px;
    margin:0 auto;
}
.about-a-box{
    margin-bottom:30px
}

.connniuwa{
    height: 180px;
    overflow: hidden;
}
.slide-content{
    position: relative;
    width: 1105px;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
    margin-top:60px;
}
.slide-box .slide-list{
    width: 3000px;
}
.slide-box .slide-list li{
    position: relative;
    float: left;
    width: 270px;
    height: 180px;
    margin-right: 7px;
    z-index: 1;
}
.slide-box .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 180px;
    background: url(../imgs/market/cover.png);
    z-index: 99;
    cursor: pointer;
}
.slide-box .mask1{
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 180px;
    background: url(../imgs/market/cover.png);
    z-index: 98;
    cursor: pointer;
}
.sicon{
    height:106px;
    width:48px;
    position: absolute;
    background:url(../imgs/market/icon.png);

}
.slefticon{
    left:0;
    top:95px;
    background-position: 0 0;
}
.slefticon:hover{
    background-position: 0 -106px;
}
.srighticon:hover{
    background-position:-59px -106px;
}
.srighticon{
    right:3px;
    top:95px;
    background-position:-59px 0;
}
.playbox{
    width:640px;
    height:355px;
    padding:10px;
    background:#5f5f5f;
    float: left;
    position:relative;
    margin-top:20px;
    margin-left:48px
}
.playbox img{
    width:640px;
    height:355px;
}
.tjname{
    color:#fff;
    width:340px;
    height:36px;
    position:absolute;
    font-size:18px;
    top:324px;
    left:830px;
    line-height:36px;
    text-align: center;
}
.tjreferral{
    color:#fff;
    font-size:12px;
    height:200px;
    width:360px;
    position:absolute;
    top: 375px;
    left: 790px;

}
#psyimg{
    cursor: pointer;
}
.marketregbox{
    width:322px;
    height:363px;
    background:url(../imgs/market/regarrowbg.png);
    float: right;
    position:relative;
    margin-top:64px;
}
.marketregbox input[type="text"],.marketregbox input[type="password"]{
    background:#89ebff;
    height:30px;
    width:200px;
    padding-left:5px;
    border:0;
    line-height:30px;
}
.marketregbox input.short{
    width:94px
}
.regtitile{
    height:30px;
    width:76px;
    line-height:30px;
    font-size:16px;
    color:#fff;
    letter-spacing: 1px;
    margin-left:21px;
}
.labelbar{
    margin-top:19px;
    color:#fff;
    font-size:14px;
    height:30px;
    width:100%;
}
.labelbar input[type="checkbox"]{
    margin-right:20px;
    vertical-align: middle;
    padding: 1px;
    letter-spacing: 1px;
}
.labelbar .pingtaixieyi{
    cursor: pointer;
    color:#89ebff;
    letter-spacing: 1px;
}
#refreshimg{
    width:99px;height:30px;margin-left:7px;
}
#btnvalidation{
    cursor: pointer;width:99px;height:30px;margin-left:7px;border:0;background:#fff380;color:#4461dd;text-align: center;font-size:16px;letter-spacing: 1px;
}



input:focus, textarea:focus {
    outline: none;
}

input:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}
.phoneerror{
    position: absolute;
    z-index:1;
    color:#fff380;
    font-size:12px;
    top:72px;
    left:96px;
    width:205px;
    height:12px;
    line-height:12px;
    white-space:nowrap;
}
.passworderror{
    position: absolute;
    z-index:1;
    color:#fff380;
    font-size:12px;
    top:121px;
    left:96px;
    width:205px;
    height:12px;
    line-height:12px;
    white-space:nowrap;
}
.phonenumerror{
    position: absolute;
    z-index:1;
    color:#fff380;
    font-size:12px;
    top:222px;
    left:96px;
    width:205px;
    height:12px;
    line-height:12px;
    white-space:nowrap;
}
.yanzhengmaerror{
    position: absolute;
    z-index:1;
    color:#fff380;
    font-size:12px;
    top:171px;
    left:96px;
    width:205px;
    height:12px;
    line-height:12px;
    white-space:nowrap;
}
.xieyierror{
    position: absolute;
    z-index:1;
    color:#fff380;
    font-size:12px;
    top:259px;
    left:53px;
    width:205px;
    height:12px;
    line-height:12px;
    white-space:nowrap;
}
.regsubmit{
    background:#667279 !important;
    color:#fff!important;
}
.divzhezao{
    width:285px;
    height:55px;
    background:url(../imgs/market/tijiaoz.png);
    position:absolute;
    z-index:10000;
    top:277px;
    left:18px;
    display: none;
}
/*右侧快捷导航*/
.shortcut{
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 50px;
    height: 270px;
    z-index: 8888;
}
.shortcut1{
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 50px;
    height: 70px;
    z-index: 8888;
}
.shortcut a{
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: url(../imgs/floaticon.png);

}
.shortcut .hotlinebox{
    display: none;
    position: absolute;
    left: -160px;
    bottom: -50px;
    width:130px;
    height: 50px;
    padding-left: 30px;
    line-height: 50px;
    font-size: 16px;
    color: #646464;
    background: url(../imgs/floaticon_bg.png) 0 0;
}
.shortcut .weixinbox{
    display: none;
    position: absolute;
    left: -160px;
    bottom: 10px;
    width: 148px;
    height: 138px;
    padding: 12px 0 0 12px;
    background: url(../imgs/floaticon_bg.png) 0 -57px;
}
.shortcut a.gotop{
    background-position: 0 0;
}
.shortcut a.gotop:hover{
    background-position: -68px 0;
}

.shortcut a.weibo{
    background-position: 0 -55px;
}
.shortcut a.weibo:hover{
    background-position: -68px -55px;
}
.shortcut a.weixin{
    background-position: 0 -110px;
}
.shortcut a.weixin:hover{
    background-position: -68px -110px;
}
.shortcut a.qqmsg{
    background-position: 0 -165px;
}
.shortcut a.qqmsg:hover{
    background-position: -68px -165px;
}
.shortcut a.hotline{
    background-position: 0 -220px;
}
.shortcut a.hotline:hover{
    background-position: -66px -220px;
}
.i-content{
  
}
#phonenum{
    visibility:visible !important;
}
#playbox a{
	color:#f00;	
}

/* 新着陆页 */
.nmarkettop{
    width:100%;
    height:360px;
    background:url(../imgs/marketnew/bannertop.jpg);
    min-width:1200px;
}
.nmarketbody{
    width:1200px;
    margin:0 auto;
}
.nmarketbody .leftb{
    width:649px;
    height:320px;
    float: left;
    margin-top:26px;
    margin-left:130px;
    background:url(../imgs/marketnew/market.png);
    background-position:0 0;
}
.ttitlewrap{
    height:460px;
    width:100%;
    background:#e85946;
    min-width:1200px;
}
.ttitlebody{
    height:460px;
    width:1200px;
    background:url(../imgs/marketnew/ttjiesao.png);
    margin:0 auto;
}
.displaywrap{
    width:100%;
    background:#ff744d;
    padding:50px 0;
    min-width:1200px;
}
.displaywrap .prizebody{
    width:1160px;
    height:140px;
    margin:0 auto;
    position:relative;
}
.prizebody .sliderbarL{
    width:39px;
    height:71px;
    background:url(../imgs/marketnew/market.png);
    background-position:-52px -730px;
    float: left;
    margin:35px 26px 0 8px;
    cursor: pointer;

}
.prizebody .sliderbarR{
    width:39px;
    height:71px;
    background:url(../imgs/marketnew/market.png);
    background-position:-96px -730px;
    float: right;
    margin:35px 6px 0 24px ;
    cursor: pointer;
}
.prizebody .pslider{
    width: 1160px;height:140px;
    float: left;
    overflow: hidden;
    position: relative;
}
.prizebody .pslider ul{
    position:absolute; 
    top:0;left:0;
    width:3000px;
}
.prizebody .pslider li{
    float: left;margin-left:12px;
    border:2px solid #e85946;
    height:136px;
}
.prizebody .pslider li img{
    cursor: pointer;
    height:136px
}
.newswrap{
    width:100%;
    padding:50px 0 30px 0;
    background:#ffe08a;
    min-width:1200px;
}
.newswrap>.newtitle{
    width:309px;
    height:24px;
    background:url(../imgs/marketnew/market.png);
    background-position: -312px -353px;
    margin:0px auto 27px;
}
.newswrap>.content{
    width:1200px;
   margin:0 auto;
    height:301px;
    background:url("../imgs/marketnew/bg4box.png");
}
.wishwrap{
    width:100%;
    height:750px;
    background:#f8d573;
    min-width:1200px;
}
.wishbody{
    width:1158px;
    background:#fff
}
.adwrap{
    width:100%;
    height:480px;
    background:#fff;
    min-width:1200px;
}
.adwrap .adbody{
    width:1200px;
    height:480px;
    margin:0 auto;
    background:url(../imgs/marketnew/niuwaplan.png)
}
.investwrap{
    width:100%;
    padding:50px 0;
    background:#f0ebe6;
    min-width:1200px;
}
.investbody{
    width:1160px;
    height:240px;
    margin:0 auto;
}
.investbody ul li{
    float: left;
    margin-left:10px;
    width:380px;
    height:240px;
    background:url(../imgs/marketnew/market.png);
    background-position: -49px -474px;
}
.investbody ul li.acc{
    margin-left:0;
}
.investbody ul li h3{
    font-size:24px;
    color:#424352;
    text-align:center;
    font-weight:normal;
    line-height:60px;
}
.investbody ul li .subheader{
    width:180px;
    height:30px;
    margin:0 auto;
    background:url(../imgs/marketnew/market.png);
    background-position: -48px -335px;
    color:#424352;
    text-align:center;
    line-height:30px;
}
.investbody ul li .incomebox{
    width:190px;
    margin:0 auto;
    padding:23px 0  3px 0;
}
.investbody ul li a.bbtn{
    width:210px;
    height:40px;
    background:url(../imgs/marketnew/market.png);
    background-position: -49px -400px;
    display: block;
    color:#fff !important;
    line-height:40px;
    font-size:16px;
    margin:8px auto 0;
    text-align: center;
}
.incomebox>.bar{
    width:50%;
    float: left;
}
.marketfooter{
    height:80px;
    width:100%;
    background:#3c4650
}
.wishtitle{
    width:246px;
    height:24px;
     background:url(../imgs/marketnew/market.png);
    background-position: -313px -399px;
    margin:0 auto;
}
em{
    font-style:normal;

}
.regbtnnew{
    width:280px;
    height:50px;
    color:#fff;
    text-align: center;
    line-height:50px;
    font-size:18px;
    margin:0 auto;
    background:#fa4b4b;
    cursor: pointer
}
.iconbox{
    width:33px;
    height:33px;
    float: left;
    border:1px solid #cccccc;
    border-right:0;
    margin-left:20px;
}
.iconuser{
    width:14px;
    height:18px;
    background:url(../imgs/marketnew/marketicon.png);
    background-position:-30px -1px;
    display: block;
}
.iconpassword{
    width:14px;
    height:18px;
    background:url(../imgs/marketnew/marketicon.png);
    background-position:0px 0px;
    display: block;
}
.iconimgv{
    width:17px;
    height:18px;
    background:url(../imgs/marketnew/marketicon.png);
    background-position:-61px -1px;
    display: block;
}
.iconphonev{
    width:20px;
    height:15px;
    background:url(../imgs/marketnew/marketicon.png);
    background-position:-92px -3px;
    display: block;
}
.ncheckbox{
    width:15px;
    height:15px;
    display: block;
    float: left;
    background:url(../imgs/marketnew/marketicon.png);
    background-position:-156px -4px;
    cursor:pointer;
   /*  margin-left:20px; */
    margin-top:3px;
    margin-right:8px;
}
.Ycheckbox{
    background-position:-128px -4px !important;
}
.fixlayerbox{
    position: absolute;
    top:0;
    left:0;
    height:320px;
    width:320px;
    z-index:10000;
    background:none;
    display: none;
}
.regbtnnewb{
    background:#ccc
}
.close-icon {
    display: block;
    float: right;
    width: 49px;
    height: 49px;
    background: url(../imgs/marketnew/slide_icon.png) 0 -457px;
    cursor: pointer;
}