.p1{font-size: 0.48rem;color: #bec8d2;margin-top:1.74rem;text-align: center; }
.p2{height: 0.01rem;width: 4.2rem;background:#bec8d2;margin-left:1.64rem;margin-top: 0.18rem;margin-bottom:0.24rem   }
.p3{font-size: 0.26rem;text-align: center;color: #bec8d2}
.div1{background: url('/imgs/m9/h5_error.png') center no-repeat;width: 4.94rem;height: 4.78rem;margin-left:1.36rem;margin-top
:0.43rem;background-size: contain;margin-bottom:0.75rem   }
.div2,.div3{width: 1.38rem;height: 0.58rem;background:;border:1px solid #64afff ;font-size: 0.26rem;line-height: 0.58rem;float: left;color:#64afff;text-align: center;border-radius: 2px }
.div2{margin: 0 0.45rem 0 2.1rem}
.p4{font-size: 0.2rem;color: #bec8d2;text-align: center;margin-top:0.87rem;clear: both;height: 0.2rem }
.div3 a{color: #64afff}