<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=1000, initial-scale=1"/>
    <meta charset="utf-8" />
    <title>牛娃合伙人</title>
    <!-- build:css /css/hhr.min.css -->
    <link href="/css/idialog.css" rel="stylesheet" type="text/css" />
    <link href="/css/hhr.css" rel="stylesheet" type="text/css" />
    <link href="/css/sjkh.css" rel="stylesheet" type="text/css" />
    <link href="/css/head-foot.css" rel="stylesheet" type="text/css" />
   <!-- /build -->
</head>
<body style="background-color:#f2f4f6">
    <%include ../tmp_head.html%>
    <div class="hhr-bg"><img src="/imgs/hhr_banner.jpg"/></div>
    <div class="hhr-tq"><img src="/imgs/hhr_tequan.jpg"/></div>
    <div class="hhr-qj"><div class="hhr-qj_bl1"></div><img src="/imgs/hhr_yongjin.jpg"/></div>
    <div class="hhr-yj"><div class="hhr-yj_bl2"></div>
        <div class="hhr-yj-desc">
            <div style="font-size:18px;">活动规则：</div>
            <ul>
                <li>1.当被推荐人通过点击推荐人分享的推广链接进入牛娃平台注册，或者被推荐人注册时在“推荐人”一栏中填写了推荐人的用户名或手机号，推荐关系都将自动绑定。</li>
                <li>2.推荐奖励按月结算，结算日为每月最后一天，奖励发放日为次月1日；</li>
                <li>3.被推荐人投资懒牛计划与智牛精选，推荐人可享受合伙人奖励；</li>
                <li>4.凡在牛娃平台的投资用户，均可申请成为牛娃合伙人；</li>
                <li>5.佣金以现金券方式发放，现金券可用于兑现使用，使用规则可在 现金券管理中查看；</li>
                <li>6.当月待收本金低于5000元将失去牛娃合伙人特权；</li>
                <li>7.合伙人不可同时享受其他推荐好友活动相关奖励。</li>
                <li>8.如合伙人采用特殊技术手段，扰乱正常的推荐秩序，一经核实，牛娃互联网金融有权取消其推广权限并停止发放奖励。</li>
                <li>9. 活动最终解释权归上海牛娃互联网金融信息服务有限公司所有。</li>
            </ul><br>
            <div style="text-align:center;"><img class="hhr_join" src="/imgs/hhr_join.png"></div>
        </div>
    </div>
   
    <%include ../tmp_foot.html%>
</body>
<script type="text/javascript" src="/js/libs/jquery.iDialog.js"></script>
<!-- build:js /js/hhr.min.js -->
<script type="text/javascript" src="/js/head.js"></script>
<script type="text/javascript" src="/js/hhr.js"></script>
<script type="text/javascript" src="/js/readmsg.js"></script>
<!-- /build -->
<script type="text/javascript">
    if(top != self){
        location.href = "about:blank";
    }
    
</script>
</html>
