<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=1000, initial-scale=1" />
	<meta charset="utf-8" />
	<title>充值上限说明</title>
	<meta name="description" content="充值上限说明" />
	<meta name="keywords" content="充值上限说明" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<style type="text/css">
		body{
			font-family: Helvetica, Arial, "Microsoft Yahei", "微软雅黑", Arial, sans-serif;
		}
		table {
			border: solid 1px #DFDFDF;
			text-align: center;
			width: 90%;
			margin:20px auto;
			color:#4A4A4A;
		}
		th, td {
			border:solid 1px #DFDFDF;
			font-weight: normal;
			padding: 10px;
			width:50%;
		}
	</style>
</head>
<body>
	<table cellspacing="0">
		<thead>
			<tr>
				<th>银行名称</th>
				<th>单笔最高充值</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>工商银行</td>
				<td>1万元</td>
			</tr>
			<tr>
				<td>建设银行</td>
				<td>1万元</td>
			</tr>
			<tr>
				<td>农业银行</td>
				<td>0.2万元</td>
			</tr>
			<tr>
				<td>招商银行</td>
				<td>10万元</td>
			</tr>
			<tr>
				<td>中国银行</td>
				<td>10万元</td>
			</tr>
			<tr>
				<td>光大银行</td>
				<td>5万元</td>
			</tr>
			<tr>
				<td>兴业银行</td>
				<td>10万元</td>
			</tr>
			<tr>
				<td>广发银行</td>
				<td>10万元</td>
			</tr>
			<tr>
				<td>浦发银行</td>
				<td>2万元</td>
			</tr>
			<tr>
				<td>民生银行</td>
				<td>10万元</td>
			</tr>
			<tr>
				<td>中信银行</td>
				<td>10万元</td>
			</tr>
			<tr>
				<td>平安银行</td>
				<td>5万元</td>
			</tr>
			<tr>
				<td>华夏银行</td>
				<td>10万元</td>
			</tr>
			<tr>
				<td>广州银行</td>
				<td>10万元</td>
			</tr>
		</tbody>
	</table>
</body>
</html>