<div class="listheader" style="background:url(/imgs/m7/choiceness-bg.png)">
	<style>
		.choiceness-title{
			position: relative;
			width: 190px;
			margin: 0 auto;
			text-align: center;
			font-size: 36px;
			color: #fff;
			line-height: 160px;
		}
		.choiceness-title:before{
			position: absolute;
			top:80px;
			left: -110px;
			content: '';
			width: 110px;
			height: 1px;
			background-color: #fff;
		}
		.choiceness-title:after{
			position: absolute;
			top:80px;
			right: -110px;
			content: '';
			width: 110px;
			height: 1px;
			background-color: #fff;
		}
	</style>
	<div class="choiceness-title">精选活动</div>
	<!--<div class="listwrap">-->
		<!--<h3>活动产品</h3>-->
		<!--<div class="tab_list">-->
			<!--<a href="/m7/channel/CHANNEL_FOOD" class="ml0" >美食频道</a>-->
			<!--<a href="/m7/channel/CHANNEL_LIFE">生活服务</a>-->
			<!--<a href="/m7/channel/CHANNEL_RECREATION">娱乐休闲</a>-->
			<!--<a href="/m7/channel/CHANNEL_CAR">汽车频道</a>-->
		<!--</div>-->
	<!--</div>-->
</div>