<% if(paging.pageCount == 1){%>
	<div style="height:9px;width:100%"></div>
<%}%>
<% if(paging.pageCount > 1){%>
<div class="pagediv clearfix">
	<div class="paging">
		<% if(paging.pageIndex > 0){ %>
			<a href="javascript:" class="paing_sel" data-index="0" >&lt;&lt;首页</a>&nbsp;&nbsp;<a href="javascript:" class="paing_sel" data-index="<%=paging.pageIndex-1%>" >&lt;上一页</a>&nbsp;
		<% } %>	
		<%= paging.pageIndex*paging.pageSize+1 %>-<%= (paging.pageIndex+1)*paging.pageSize %>条 共<%= paging.record %>条
		 <% if(paging.pageIndex<paging.pageCount-1) {%>
			<a href="javascript:" class="paing_sel " data-index="<%= paging.pageIndex+1 %>" >下一页&gt;</a>&nbsp;&nbsp;
			<a href="javascript:" class="paing_sel" data-index="<%= paging.pageCount-1 %>" >尾页&gt;&gt;</a>
		<% } %>
		<input type="hidden" value="<%=paging.pageCount%>"/> <input id="handindex" value="<%= paging.pageIndex+1%>" class="handindex" maxlength="4" type="text" onkeyup="value=value.replace(/[^\d]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"/><span class="paging_go">GO</span>
	</div>
</div>
<% } %>