<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <title>adas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="/css/infoclt/infoclt.css">
    <link rel="stylesheet" type="text/css" href="/css/tianji/callback.css">
</head>
<body>
	<div class="container">
		<img src="/imgs/tianji/right.png" alt="">
		<a class="confirm" href="http://192.168.101.180:3500/infoclt/communication/tongxinSuccess">跳转到成功</a>
	</div>
</body>
<script src="/js/libs/jquery-1.8.3.min.js"></script>
<script src='/js/infoclt/h5script.js' type="text/javascript"></script>
<script type="text/javascript">

</script>

</html>