<style>
.footer_p3{font-size: 0.24rem;color: #969696;text-align: center;}
.footer_p4{font-size: 0.28rem;color: #526692;overflow: hidden;margin:0.15rem 0 }
.footer_p4 span{padding-right: 0.38rem}
.footer_p {text-align: center;  }
</style>
<div style="" class="footer_p">
		<p class="footer_p3">本服务由牛娃金服提供</p>
		<p class="footer_p4"><span>借款须知</span><span style="color: #969696">|</span><span>常见问题</span><span style="color: #969696">|</span><span style="padding-right: 0">400-8846898</span></p>
		<div class="footer_p3">工作日9:00 - 21:00  节假日9:00 - 18:00</div>
</div>