<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=1000, initial-scale=1"/>
    <meta charset="utf-8" />
    <title>牛娃互联网金融与中国500强企业阳光保险合作</title>
    <!-- build:css /css/yangguang.min.css -->
    <link href="/css/idialog.css" rel="stylesheet" type="text/css" />
    <link href="/css/yangguang.css" rel="stylesheet" type="text/css" />
    <link href="/css/head-foot.css" rel="stylesheet" type="text/css" />
   <!-- /build -->
</head>
<body >
    <%include ../tmp_head.html%>
    <div class="yg-banner"></div>
    <div class="yg-meat">
        <div class="yg-wrap">
            <ul class="yg-meat-list">
                <li>
                    <h1>阳光实力</h1>
                    <h2>中国500强企业</h2>
                </li>
                <li>
                    <h1>注册资金</h1>
                    <h2>67.1059 亿元</h2>
                </li>
                <li style="width: 200px;">
                    <h1>累计保险保障用户</h1>
                    <h2>1.6 亿人</h2>
                </li>
                <li style="padding-right: 0;">
                    <h1>累计赔款</h1>
                    <h2>超535 亿元</h2>
                </li>
            </ul>
        </div>
    </div>
    <div class="yg-wrap">
        <div class="yg-img1">
            <img src="/imgs/m4/yangguang/img1.jpg">
        </div>
        <div class="yg-h1" style="position: relative;margin-top: 35px;">
            <span>牛娃用户如何获得理赔?</span>
            <img class="notice-trigger" style="margin-left: 105px;position: absolute;top: -5px;right: 55px;cursor:pointer;" src="/imgs/m4/notice.png">
        </div>
        <ul class="rhlp-list clearfix">
            <li class="item1">用户遇到账户被盗刷时请立即致电牛娃互联网金融以及绑卡银行进行挂失，冻结平台及银行账户以避免进一步损失。</li>
            <li class="item2">用户立即向公安机关报案，同时致电牛娃互联网金融400-8846-898，牛娃会尽最大的努力为您提供帮助。</li>
            <li class="item3" style='text-align: justify;'>牛娃互联网金融准备必要的理赔资料，向阳光财产保险提出理赔申请。</li>
        </ul>
        <div class="cailiao">
            <h1>用户申请理赔所需材料：</h1>
            <p>1、平台用户盗刷交易记录——银行提供</p>
            <p>2、个人账户挂失或冻结时间证明等——银行提供</p>
            <p>3、有关损失资金的流向记录，如收款方姓名及账号等——银行提供</p>
            <p>4、索赔申请书和保险单</p>
            <p>5、平台用户身份证明文件</p>
            <p>6、公安机关出具的其它必要证明</p>
        </div>
        <!-- <div class="yg-h1">合作协议书</div>
        <ul class="yg-zslist clearfix">
            <li><img src="/imgs/m4/yangguang/img5.jpg"></li>
            <li><img src="/imgs/m4/yangguang/img6.jpg"></li>
        </ul> -->
    </div>
    <%include ../tmp_foot.html%>
    <div  class="shade">
    </div>
    <div class="notice">
        <img class="notice-hidden" style="position:absolute;cursor: pointer; right:20px;top:20px;" src="/imgs/m4/fork.png">
        <p class="title">1、保障范围</p>
        <p>交易资金损失险保障：上海牛娃互联网金融信息服务有限公司管理的牛娃互联网金融交易平台或在其交易平台进行交易的的个人客户账户中的资金在交易过程（充值、提现、申购、赎回。按照业务涉及到的流程，选择上述4项中的一项、多项或其他交易过程）被他人（除牛娃互联网金融以外的第三方）盗转、盗用等保险事故造成的个人账户资金损失，由此造成的牛娃互联网金融平台的直接经济损失。对此直接经济损失，保险公司将按照保险合同约定，在保险单列明的赔偿限额内，向牛娃互联网金融及时赔付。</p>
        <p class="title">2、责任免除</p>
        <p>以下原因造成的资金损失，不在交易资金损失险的赔偿范围：</p>
        <p>借款人无还款能力；</p>
        <p>投资项目逾期还款；</p>
        <p>牛娃互联网金融倒闭、破产或挪用投资资金；</p>
        <p>交易资金损失险条款责任免除中约定的其他事项：</p>
        <p>第五条  由于下列原因造成的损失，保险人不负责赔偿：</p>
        <p>（一）投保人、被保险人及其代表的故意或违法犯罪行为；</p>
        <p>（二）被保险人未遵循国家相关监管机关以及银行、支付机构等账户发行机构关于个人账户的管理、交易规则。</p>
        <p>（三）被保险人管理的个人账户的持有人及其家庭成员的故意或违法犯罪行为；</p>
        <p>（四）被保险人管理的个人账户的持有人出租、转借其个人账户，或被他人诈骗；</p>
        <p>（五）被保险人管理的个人账户的持有人在没有被胁迫的情况下，向他人透露个人账户号及密码；</p>
        <p>（六）被保险人管理的个人账户超出本保险合同约定的保险责任起讫时间范围的损失；</p>
        <p>（七）被保险人管理的个人账户的持有人未遵循国家相关监管机关以及银行、支付机构等账户发行机构关于个人账户的使用规则。</p>
        <p>第六条  下列损失、费用或责任，保险人也不负责赔偿：</p>
        <p>（一）利息以及透支利息、手续费、滞纳金、超限费*、罚息、罚金、账户年费、会员费、补发新卡费等以及任何形式的间接损失或费用；</p>
        <p>（二）因制卡、读卡、验卡设备原因造成的个人账户内的资金损失；</p>
        <p>（三）诉讼费用，个人账户挂失、冻结手续费，重新补办手续费；</p>
        <p>（四）任何形式的个人账户附加功能的损失；</p>
        <p>（五）被保险人管理的个人账户不能证明是个人本人名下的有效个人账户（包括但不限于第三方支付账户）中的资金损失；</p>
        <p>（六）已经由第三方承担的任何损失或费用，包括但不限于已经由发卡银行、支付机构、受理行等账户发行机构承担的任何损失或费用；</p>
        <p>（七）投保人在投保之前已经知道或者可以合理预见的损失或费用；</p>
        <p>（八）本保险合同约定的免赔额，或按本保险合同约定的免赔率计算的免赔额。</p>
        <p>第七条  其他不属于本保险合同责任范围内的损失和费用，保险人不负责赔偿。</p>
        <p class="title">3、交易资金损失险的赔款将及时赔付给被保险人（牛娃互联网金融）。</p>
    </div>
</body>
<script type="text/javascript" src="/js/libs/jquery.iDialog.js"></script>


<!-- build:js /js/yangguang.min.js -->
<script type="text/javascript" src="/js/head.js"></script>
<script src="/js/libs/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/yangguang.js"></script>
<script type="text/javascript" src="/js/readmsg.js"></script>
<!-- /build -->
<script type="text/javascript">
    if(top != self){  
        location.href = "about:blank";
    }
</script>
</html>
