<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta charset="utf-8" />
        <title>牛娃金融</title>
        <style>
            body{
                font: 12px/1.5 tahoma,arial,sans-serif;
            }
            p{line-height:20px;}
        </style>
    </head>
    <body>
        <div style="width: 1200px; margin: auto;">
            <div style="font-size:20px"><strong>风险规则下的终止条款（担保人和融资人）</strong> </div><br>
            <div>当发生下述情况时视为违约：</div>
            <p>1、担保人或其推荐的融资人在本协议项下所作的任何声明或保证不准确；或违反其在本协议项下的任何承诺。</p>
            
            <p>2、担保人或其推荐的融资人以本合同项下借款所购商品或服务（包括但不限于汽车、消费品等）从事违法活动。</p>
            <p>3、担保人或其推荐的融资人未支付本合同约定的任何款项或未履行/遵守其在本合同下的任何其它义务或承诺。</p> 
            <p>4、担保人或其推荐的融资人所提供的文件或材料，或担保人或其推荐的融资人在本合同中的声明内容存在虚假、伪造、隐瞒事实之处。</p>
            <p><div style="float:left">5、</div><div style="float:left;width:98%">担保人或其推荐的融资人的其它借款、担保、赔偿、承诺或任何其它债务因违约而被勒令提前偿还或履行或到期而不能如期偿还或履行，或者担保人或其推荐的融资人的业务经营前景、抵押房地产或其它财产出现不利变化，以致影响或可能影响担保人或其推荐的融资人履行本合同的能力。</div><div style="clear:both"></div></p>
            <p><div style="float:left">6、</div><div style="float:left;width:98%">担保人或其推荐的融资人本身发生病变（包括精神不健全）、死亡、被宣告死亡、被宣告失踪而又无人代其履行债务；不能偿还一般债务而将要停业或面临清盘、倒闭，或将停止营业，或遭他人对其提出破产申请、合并、收购、重组、或因法院或政府机关或任何决议通过要解散、清盘、破产、关闭或被指定接管人或信托人等去处理其所有或大部分的财产或经法院下令监管财产的情况。</div><div style="clear:both"></div></p>
            <p>7、担保人或其推荐的融资人的继承人、承继人、受遗赠人或代管人只能履行部分或拒绝履行偿还欠款的责任。</p>
            <p>8、担保人或其推荐的融资人遭受针对其本身或其任何财产的查封、扣押或禁制、监管或其他诉讼保全措施或面临前述威胁，或发生其他可能影响借款人债务清偿能力的情形。</p>
            <p>9、担保人或其推荐的融资人的全部财产或任何重要财产遭受或可能遭受没收、征用、强制性收购或遭到损毁、破坏，从而影响其在履行本合同的能力。</p>
            <p>10、担保人或其推荐的融资人按照中国法律或其住所地或居住地法律变得不合法或不可能继续履行其在本合同下之责任。  </p>
            <p>11、担保人或其推荐的融资人信息存在不真实的情况，或是出现担保人或其推荐的融资人经营的合法性和持续性问题的情况。</p>
            <p>12、近三个月推荐的融资项目出现40%（含）以上逾期垫付的情况。
            <p>13、担保人推荐的融资人融资项目出现在除乙方外的其他平台，融资人只能履行部分或拒绝履行偿还欠款的责任的情况。</p>
            <p>14、担保人或其推荐的融资人受到政府行政主管部门吊销营业执照或停业处分，或其他丧失合法经营身份或资格的情况。</p>
            <br>
            释义：
            <p>担保人：担保人是指与本平台（牛娃互联网金融信息服务有限公司）合作的、向本平台融资人提供担保、提供收益权或债权回购的机构或个人，包括融资租赁公司、保理公司、小贷公司、担保公司等。</p>
            <p>融资人：融资人是指在本平台向注册投资客户人筹措资金用于经营或消费等目的机构或个人。</p>

        </div>
    </body>
</html>