<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=1024px, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no,email=no" />

    <meta charset="utf-8" />
    <title>牛呗下载_牛娃互联网金融</title>
    <!-- build:css /css/niubei.min.css -->
    <link href="/css/niubei.css" rel="stylesheet" type="text/css" />
    <!-- /build -->
</head>
<body>
    <div class="bcblur">
            <div class="niuwa-header"> <br><br><br>
                <div style="height:540px;   position: relative;">
                    <div class="fl">
                         <div class="nb_top"></div>
                         <div style="margin-top:130px"></div>
                         <div class="nb_dn"></div>
                         <div style="margin-top:100px"></div>
                         <div class="nb_dzd">
                            <a class="nb_dzd_1" href="https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8">&nbsp;</a>
                            <a class="nb_dzd_2" href="https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk">&nbsp;</a>
                         </div>
                         <div class="ewmdl">扫二维码下载></div>
                    </div>
                   <div class="fr">

                         <div >
                            <img src="/imgs/niube/shouji2.png" />
                         </div>
                    
                    </div>
                    <div class="clearboth"></div>
                    <div class="tipsewm">
                        <div class="closexd">&nbsp;</div>
                        <div style="float:left;margin-top:10px;margin-left: 15px;"><img src="/imgs/niube/ewm.png" />
                        </div>
                    </div>
                </div>

         </div>
    </div>
      <div class="niuwa-header" style="margin-top:60px">
        <div class="nb_sm1"></div>
        <div class="nb_sm2"></div>
        <div class="nb_sm3"></div>
        <div class="clearboth"></div>
       </div>   
       <br><br>
      <div class="bcblur" style="height:90px;"><br>
          <div class="niuwa_footer">
              <div>版权所有©上海牛娃互联网金融信息服务有限公司  沪ICP备15002518号<br/>客服热线：400-8846-898（工作日9:00-21:00，节假日9:00-18:00）
              </div>
              
                  <div class="sharetrabs">
                      <div id="wx">
                      </div>
                      <a id="weibo" href="http://weibo.com/u/5621255101">
                      </a>
                      <div class='nbabs'><img src="/imgs/niube/niubeidy.png"></div>
                  </div>
             
          </div>
      </div>

    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5H47RG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-5H47RG');</script>
    <script type="text/javascript" src="/js/libs/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $(".ewmdl").click(function(){
            $(".tipsewm").show();
        });
        $(".closexd").click(function(){
            $(".tipsewm").hide();
        });
        var tout=null;
        $("#wx").hover(function(){
            tout=setTimeout(function(){
                $(".nbabs").show();
            },200);
            
        },function(){
             $(".nbabs").hide();
             clearTimeout(tout);
        });
    });
  if(top != self){  
        location.href = "about:blank";
    }
    </script>
</body>
</html>