.container{text-align: center;}
.container img{display: inline-block;margin-top: 1.2rem ;margin-bottom:0.6rem }
.p2{font-size: 0.26rem;line-height: 0.45rem}
.p1{font-size: 0.34rem;line-height: 0.45rem}
.confirm{width: 6.9rem;height: 1rem;background: #3296fa;line-height: 1rem;text-align: center;color: white;display: inline-block;border-radius: 5px;margin-top:1.35rem;font-size: 0.36rem;}






