<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>易宝资金迁移公告</title>
    <meta name="Keywords" content="牛娃金融" />
    <meta name="Description" content="牛娃金融" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- build:css /css/migration.min.css?v=201500908 -->
    <link rel="stylesheet" href="/css/niuwa.css"/>
    <link rel="stylesheet" href="/css/migration.css"/>
    <!-- /build -->

</head>
<body style="background: #ffffff;">
    <img src="/imgs/migration/notice_h5.png" style="width: 100%;">
</body>
</html>