<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <title>牛呗推广系统</title>
    <meta name="description" content="牛呗推广系统" />
    <meta name="keywords" content="牛呗推广系统" />
    <% include header.html %>
</head>
<body>
<div class="container2">
    <h1 class="applyh1">确认申请</h1>
    <ul class="applybackbox">
        <li>您的角色为：<span class="FC3">推广大使</span></li>
        <li>您的上级为：<span class="FC3">张三  138****9438</span></li>
    </ul>
    <div class="applyback-btn">
        <button class="btn1 btn2" style="float:left;">返回修改</button>
        <button class="btn1 btn2" style="float: right;">确认</button>
    </div>
</div>


</body>
</html>
<script src="/js/libs/jquery-1.8.3.min.js"></script>
<!--<script src="/js/libs/jquery.sha256.min.js"></script>-->

<!-- build:js /js/spread.min.js -->
<script src="/js/g.js"></script>
<script type="text/javascript" src="/js/spread.js"></script>
<!-- /build -->