<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <title>牛娃互联网金融</title>
    <meta name="description" content="牛娃互联网金融"/>
    <meta name="keywords" content="牛娃互联网金融"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="email=no" name="format-detection"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-touch-fullscreen" content="YES"/>
    <link href="/css/niuwah5.css" rel="stylesheet" type="text/css" />
    <link href="/css/m11/announcement.css" rel="stylesheet" type="text/css" />
	</head>
	<%include ./h5script10.html %>
	<body>
    	<div class='top'>资金账户迁移公告<img src="/imgs/hfcross.png" class="hfcross"/></div>	
    	<div class="content">
    		<p class="p1">牛娃互联网金融携手新网银行为您提供更安全的资金存管服务，您的账户已成功升级为新网银行存管账户，请点击按钮立即进行存管账户激活与自动投标授权，如有疑问请致电</p>
    		<p>400-8846-898咨询！</p>
    		<div style="height: 30px"></div>
    		<div class="button">激活资金账户</div>
    	</div>
	</body>
    <script>
        var usrId='<%=usrId%>'
        var arr=<%- JSON.stringify(arr) %>;
        var needSkip='<%=needSkip%>'
        var url='<%=url%>'
    </script>
	<script src="/js/libs/jquery-1.8.3.min.js"></script>
    <script src="/js/common/formSubmit.js"></script>
	<script src='/js/m11/announcement.js'></script>
	
</html>

