<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta charset="utf-8" />
        <title>购房0佣金互联网理财购房新模式</title>        
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <!-- build:css /css/m3niubei.min.css -->         
            <link rel="stylesheet" href="/css/m3niubei.css">
        <!-- /build -->
    </head>
    <body>
        <div class="fangbg">
        <div class="wrap1200">
            <div style="height:341px;"><img src="/imgs/m3/32412521341.jpg" width="1200" height="341" alt="购房0佣金互联网理财购房新模式"></div>
            <div style="height:290px;"><img src="/imgs/m3/32412521342.jpg" width="1200" height="290" alt="买房佣金2.4%光佣金就能吃掉一辆车怎能甘心啊！！！"></div>
            <div style="height:328px; position:relative">
                <img src="/imgs/m3/32412521343.jpg" width="1200" height="328" alt="购房0佣金省钱计划">
                <!-- <a href="http://www.i-niuwa.com" target="_blank" class="niuwap2p-link1" title="牛娃金融">牛娃金融</a>
                <a href="#" target="_blank" class="fang-link1" title="搜房网">搜房网</a> -->
            </div>
            <div style="height:451px; position:relative">
                <img src="/imgs/m3/32412521344.jpg" width="1200" height="451" alt="如果你选择先理财再买房">
                <div class="pro-list">
                	
                   <ul class="pro-list-ul">
					<li><img src="/imgs/m3/pro1.jpg"><a href="https://i-niuwa.com/plan" class="pro-list-a" target="_blank"></a></li>
					<li><img src="/imgs/m3/pro2.jpg"><a href="https://i-niuwa.com/plan?planProdType=PROD_B" class="pro-list-a" target="_blank"></a></li>
					<li><img src="/imgs/m3/pro3.jpg"><a href="https://i-niuwa.com/plan?planProdType=PROD_C" class="pro-list-a" target="_blank"></a></li>
                        
                    </ul>
                    
                </div>
            </div>
            <div style="height:392px; position: relative;">
                <img src="/imgs/m3/32412521345.jpg" width="1200" height="392" alt="计划">
                <a href="https://promo.i-niuwa.com/marketreg?sid1060=&utm_source=fang.com&utm_medium=exchange&utm_campaign=marketreg" target="_blank" class="niuwap2p-link2" title="牛娃投资省钱计划">牛娃投资省钱计划</a>
                <a href="http://dwz.cn/125HyW" target="_blank" class="fang-link2" title="搜房购房计划">搜房购房计划</a>
            </div>
            <div style="height:298px;"><img src="/imgs/m3/32412521346.jpg" width="1200" height="298" alt="详情请咨询：牛娃互联网金融(400-8846-898),搜房网(400-890-6066)"></div>
        </div>
        </div>
		<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5H47RG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5H47RG');</script>
<!-- End Google Tag Manager -->
<script type="text/javascript">
if(top != self){  
        location.href = "about:blank";
    }
</script>
    </body>
</html>
