<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta charset="utf-8" />
        <title>上海白领嘉年华-8月8日热力开启</title>        
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <!-- build:css /css/m3niubei.min.css -->         
            <link rel="stylesheet" href="/css/m3niubei.css">
        <!-- /build -->
    </head>
    <body>
        <div class="jnfbg">
            <div class="niuwa-wrap">
                <img src="/imgs/m3/jnf/banner.jpg" width="1000" height="500" alt="上海白领嘉年华-8月8日热力开启">
            </div>
        </div>
        <div class="jnfbg2">
        	<div class="niuwa-wrap">
            	<div class="jnf-meta">
                	<img src="/imgs/m3/jnf/img1.jpg" width="844" height="330" alt="白领嘉年华活动描述">
                </div>
                <div class="jnf-ewm"><img src="/imgs/m3/jnf/ewm.jpg" width="281" height="280" alt="二维码"></div>
            </div>
        </div>
		<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5H47RG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5H47RG');</script>
<!-- End Google Tag Manager -->
<script type="text/javascript">
if(top != self){  
        location.href = "about:blank";
    }
</script>
    </body>
</html>
