<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta charset="utf-8" />
        <title>牛呗APP_信用借贷APP-懂你的牛呗圆你的梦想</title>
        <meta name="description" content="牛呗是一款提供信用借贷的优质APP,提供信用贷款.自动审批,贷款飞速到账,信用借款想怎么花就怎么花.牛呗APP,最好的信用借贷APP." />
        <meta name="keywords" content="牛呗,牛呗官网,牛呗APP,信用借贷" />
        <meta name="viewport" content="width=1000,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <!-- build:css /css/niubeiNew.min.css -->
        <link rel="stylesheet" href="/css/niubeiNew.css">
        <!-- /build -->
    </head>
<body>
	<div class='section1'>
		<div class='top niuwa-wrap'>
            <img src="/imgs/niube/niubei_mobile.png" alt="">
            <p>客服热线：400-8846-898（工作日9:00-21:00  节假日9:00-18:00）</p>
            <img src="/imgs/niube/niubei_weixin_logo.png" alt="" class="niubei_weixin_logo">
            <span> 关注牛呗<a href="###" id="weixinhao">微信公众号</a></span>
            <img src="/imgs/niube/niubei_erweima_show.png" alt="" id="niubei_erweima_show">
		</div>
	</div>
    <div class="section2">
        <div class="container2 niuwa-wrap">
            <img src="/imgs/niube/niubei_7.png" alt="">
        </div>

    </div>
    <div class="section3">
        <div class="container3 niuwa-wrap">
            <img src="/imgs/niube/niubei_blue_mob.png" alt="" class="niubei_blue_mob">
            <img src="/imgs/niube/niubei_word.png" alt="" class="niubei_niubei_word">
            <img src="/imgs/niube/niubei_andriod.png" alt="" class="niubei_andriod">
            <img src="/imgs/niube/niubei_erweima.png" alt="" class="niubei_erweima">
            <img src="/imgs/niube/niubei_iphone.png" alt="" class="niubei_iphone">
            <img width="150" height="150" src="/imgs/niube/niubei_app.png" alt="" class="niubei_app">
        </div>

    </div>
    <div class="section4">
        <div class="container4 niuwa-wrap">
            <img src="/imgs/niube/niubei_2.png" alt="">
        </div>

    </div>
    <div class="section5">
        <div class="container5 niuwa-wrap">
            <img src="/imgs/niube/niubei_3.png" alt="">
        </div>

    </div>
    <div class="section6">
        <div class="container6 niuwa-wrap">
            <img src="/imgs/niube/niubei_4.png" alt="">
        </div>

    </div>
    <div class="section7">
        <div class="container7 niuwa-wrap">
            <img src="/imgs/niube/niubei_5.png" alt="">
        </div>

    </div>
    <div class="section8">
        <div class="container8 niuwa-wrap">
            <img src="/imgs/niube/niubei_6.png" alt="">
        </div>

    </div>
    <div class="section9">
        <div class="container9 niuwa-wrap">
            <p class="p1"><span><a href="http://www.niuwacredit.com/">牛娃金服</a></span><span>|</span><span><a href="http://www.niuwacredit.com/product">产品与服务</a></span><span>|</span><span><a href="http://www.niuwacredit.com/partner">合作伙伴</a></span><span>|</span><span><a href="http://www.niuwacredit.com/headlines">牛娃头条</a></span><span>|</span><span><a href="http://www.niuwacredit.com/aboutus">了解牛娃</a></span></p>
            <p class="p2"><span>Copyright  Shanghai Niuwa Internet Financial Information Service Co.,Ltd.</span><span class="mid">版权所有  上海牛娃互联网金融信息服务有限公司</span><span>沪ICP备15002518号
</span></p>
        </div>

    </div>
</body>
    <script type="text/javascript" src="/promo/js/jquery-1.11.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#weixinhao').mouseover(function(){

                $('#niubei_erweima_show').slideDown()
            });
            $('#weixinhao').mouseout(function(){

                $('#niubei_erweima_show').slideUp()
            });
            $('.niubei_erweima').mouseover(function(){

                $('.niubei_app').slideDown()
            });
            $('.niubei_erweima').mouseout(function(){

                $('.niubei_app').slideUp()
            });
            $('.niubei_iphone').click(function(){
                window.location.href='https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8'
            })
            $('.niubei_andriod').click(function(){
                window.location.href='https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk'
            })
            if(top != self){
                location.href = "about:blank";
            }
        })
    </script>
</html>