<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta charset="utf-8" />
        <title>牛呗APP_大学生信用借贷APP-懂你的牛呗圆你的梦想</title>
        <meta name="description" content="牛呗是一款提供大学生信用借贷的优质APP,提供大学生信用贷款.自动审批,贷款飞速到账,信用借款想怎么花就怎么花.牛呗APP,最好的大学生信用借贷APP." />
        <meta name="keywords" content="牛呗,牛呗官网,牛呗APP,大学生信用借贷" />
        <meta name="viewport" content="width=1000,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <!-- build:css /css/m3niubei.min.css --> 
            <link rel="stylesheet" href="/css/jquery.fullPage.css">
            <link rel="stylesheet" href="/css/m3niubei.css">
        <!-- /build -->
        
    </head>
    <body>
        <div class="b">
            <div class="bgfff"></div>
            <div class="cb">
                <div class="niuwa-wrap">
                    
                    <div class="leftlogo">
                        <img src="/imgs/niube/niubei2.png" style="height:36px;"/>
                    </div>
                     <div class="leftlogo" style="float:right;margin-top:18px">
                        <a href="https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8"><img src="/imgs/niube/iphonedown.png" /></a>
                        <a href="https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk"><img src="/imgs/niube/androiddown.png" style="margin-left:40px"/></a>
                    </div>
                    <div class=""></div>
                </div>
            </div>
        </div>

         <ul id="menu">
                    <li data-menuanchor="page1" class="active"><a href="#page1">&nbsp;</a></li>
                    <li data-menuanchor="page2"><a href="#page2">&nbsp;</a></li>
                    <li data-menuanchor="page3"><a href="#page3">&nbsp;</a></li>
                    <li data-menuanchor="page4"><a href="#page4">&nbsp;</a></li>
        </ul>
            <div id="fullpage" style="display:none">
               

                    <div class="section">&nbsp;
                        <div class="niuwa-wrap sectionsub" style="margin-top:60px;position: relative;">
                            <div class="phonexiang" style="margin-left: 0;"><img src="/imgs/niube/page_img1.png"></div>

                            <div class="rwmdown" style="top: 126px;">&nbsp;
                                <div style="margin-top:10px"><img src="/imgs/niube/ewm2.png"/></div><br>
                                <div><a href="https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8"><img src="/imgs/niube/new_iphonexz.png"/></a></div><br>
                                <div><a href="https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk"><img src="/imgs/niube/new_androidown.png"/></a></div>
                            </div>
                            <div style="position: absolute;right: 0px;top:0;"><img  src="/imgs/niube/new_xinyoung.png"/></div>
                        </div>
                    </div>
                    <div class="section">&nbsp;
                        <div class="niuwa-wrap sectionsub2" style="margin-top:60px;position: relative;">
                            <div>
                                <img src="/imgs/niube/new_sm.png">
                                <div class="s2-lm"  style="top: 41px;">&nbsp;
                                    <div style="margin-top:10px"><img src="/imgs/niube/ewm2.png"></div><br>
                                    <div><a href="https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8"><img src="/imgs/niube/new_iphonexz2.png"/></a></div><br>
                                    <div><a href="https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk"><img src="/imgs/niube/new_androidown2.png"/></a></div>
                                </div>
                            </div>
                            <div class="s2-bxx" style="top: 0;">
                                <div><img src="/imgs/niube/page_img2.png"></div>
                            </div>

                        </div>
                    </div>
                    <div class="section" style="z-index:17" >&nbsp;
                       <div class="niuwa-wrap sectionsub3" style="margin-top:100px;position: relative;">
                            <div class="s3-bg"><img src="/imgs/niube/niubangdai.png"></div>
                            <div class="s3-i1"></div>
                            <div class="s3-i2"></div>
                            <div class="s3-i3"></div>
                            <div class="s3-i4"></div>
                            <div class="s3-i5"></div>
                            <div class="s3-i6"></div>
                             <div class="s3-txt">
                                <img src="/imgs/niube/new_xiaoyuan.png" />
                                </div>
                            <div class="s3-tb">
                                    <div style="margin-top:30px"><img src="/imgs/niube/ewm2.png"></div><br>
                                    <div><a href="https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8"><img src="/imgs/niube/iphonex3.png"/></a></div><br>
                                    <div><a href="https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk"><img src="/imgs/niube/androidown3.png"/></a></div>
                            </div>
                           
                       </div>
                    </div>
                    <div class="section">&nbsp;
                        <div class="niuwa-wrap sectionsub4" style="margin-top:60px;position: relative;">
                            <div><img src="/imgs/niube/new_dn.png"/></div>
                            <div class="s3-tb4">
                                <div style="margin-top:30px"><img src="/imgs/niube/ewm2.png"></div><br>
                                <div><a href="https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8"><img src="/imgs/niube/iphonex4.png"/></a></div><br>
                                <div><a href="https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk"><img src="/imgs/niube/androidown4.png"/></a></div>
                            </div>
                            <div class="s4-tb" style="top: -20px;">
                                <img src="/imgs/niube/shouji4.png">
                            </div>
                        </div>
                    </div>
               
            
        </div>
        
        <script type="text/javascript" src="/promo/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.rotate.min.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.fullPage.min.js"></script>

        <script type="text/javascript">

            $(function(){
                $('#fullpage').show();
                 
                    var lun= function lun(obj,r){
                        $(obj).rotate({ 　
                　　　　  angle:0,  //起始角度
                　　　　　animateTo:r,  //结束的角度
                          duration: 3600,
                　　　　　callback:function(){
                            lun(obj,r);
                            }, //回调函数
                          easing: function (x,t,b,c,d){
                            return c*(t/d)+b;
                              }
                　 });
                };
                


                $('#fullpage').fullpage({
                    sectionsColor: ['#ffb43c', '#ff6464', '#3cb48c', '#4bafff'],
                    anchors: ['page1', 'page2', 'page3', 'page4'],
                    menu: '#menu'
                });




             
                $(".section").css("height",$(".section").height()+20);
                var centerheight=($(".fp-tableCell").height()-500)/2+30;

                $(".sectionsub").css("margin-top",centerheight);
                $(".sectionsub2").css("margin-top",centerheight);
                $(".sectionsub3").css("margin-top",centerheight+100);
                $(".sectionsub4").css("margin-top",centerheight+20);
                $("#menu").css("margin-top",($(".fp-tableCell").height()-180)/2)
               var restime=null;
                $(window).resize(function(){
                restime=setTimeout(function(){
                    var centerheight=($(".fp-tableCell").height()-500)/2+30;
                    $(".sectionsub").css("margin-top",centerheight);
                    $(".sectionsub2").css("margin-top",centerheight);
                    $(".sectionsub3").css("margin-top",centerheight+100);
                    $(".sectionsub4").css("margin-top",centerheight+20);
                },500);
                

                });
              
            });
        </script>
       <script type="text/javascript">
if(top != self){  
        location.href = "about:blank";
    }
</script>
       
    </body>
</html>