<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta charset="utf-8" />
        <title>牛娃金融</title>
        <meta name="viewport" content="width=1000,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <!-- build:css /css/m3niubei.min.css --> 
            <link rel="stylesheet" href="/css/jquery.fullPage.css">
            <link rel="stylesheet" href="/css/m3niubei.css">
        <!-- /build -->
        
    </head>
    <body>
        <div class="b">
            <div class="bgfff"></div>
            <div class="cb">
                <div class="niuwa-wrap">
                    
                    <div class="leftlogo">
                        <img src="/imgs/niube/niubei2.png" style="height:36px;"/>
                    </div>
                     <div class="leftlogo" style="float:right;margin-top:18px">
                        <a href="https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8"><img src="/imgs/niube/iphonedown.png" /></a>
                        <a href="https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk"><img src="/imgs/niube/androiddown.png" style="margin-left:40px"/></a>
                    </div>
                    <div class=""></div>
                </div>
            </div>
        </div>

         <ul id="menu">
                    <li data-menuanchor="page1" class="active"><a href="#page1">&nbsp;</a></li>
                    <li data-menuanchor="page2"><a href="#page2">&nbsp;</a></li>
                    <li data-menuanchor="page3"><a href="#page3">&nbsp;</a></li>
                    <li data-menuanchor="page4"><a href="#page4">&nbsp;</a></li>
        </ul>
            <div id="fullpage" style="display:none">
               

                    <div class="section">&nbsp;
                        <div class="niuwa-wrap sectionsub" style="margin-top:60px;position: relative;">
                            <div class="phonexiang"><img src="/imgs/niube/phonexiang.png"></div>
                            <div class="lun1"><img class="lun1img"  src="/imgs/niube/lun1.png"/></div>
                            <div class="lun2"><img  class="lun2img" src="/imgs/niube/lun2.png"/></div>
                            <div class="lun3"><img  class="lun3img" src="/imgs/niube/lun3.png"/></div>
                            <div class="lun4"><img  class="lun4img" src="/imgs/niube/lun4.png"/></div>
                            <div class="lun5"><img  class="lun5img" src="/imgs/niube/lun5.png"/></div>
                            <div class="lun6"><img  class="lun6img" src="/imgs/niube/lun6.png"/></div>
                            <div class="lun7"><img  class="lun7img" src="/imgs/niube/lun7.png"/></div>
                            <div class="lun8"><img  class="lun8img" src="/imgs/niube/lun8.png"/></div>
                            <div class="lun9"><img  class="lun9img" src="/imgs/niube/lun9.png"/></div>
                            <div class="lun10"><img  class="lun10img" src="/imgs/niube/lun10.png"/></div>
                            <div class="lun1_1"><img  src="/imgs/niube/lun1_1.png"/></div>
                            <div class="lun2_2"><img  src="/imgs/niube/lun2_2.png"/></div>
                            <div class="lun3_3"><img  src="/imgs/niube/lun3_3.png"/></div>
                            <div class="lun4_4"><img  src="/imgs/niube/lun4_4.png"/></div>
                            <div class="lun5_5"><img  src="/imgs/niube/lun5_5.png"/></div>
                            <div class="lun6_6"><img  src="/imgs/niube/lun6_6.png"/></div>
                            <div class="lun8_8"><img  src="/imgs/niube/lun8_8.png"/></div>
                            <div class="rwmdown">&nbsp;
                                <div style="margin-top:10px"><img src="/imgs/niube/ewm2.png"/></div><br>
                                <div><a href="https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8"><img src="/imgs/niube/iphonexz.png"/></a></div><br>
                                <div><a href="https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk"><img src="/imgs/niube/androidown.png"/></a></div>
                            </div>
                            <div style="position: absolute;right: 0px;top: -47px;"><img  src="/imgs/niube/xinyoung.png"/></div>
                        </div>
                    </div>
                    <div class="section">&nbsp;
                        <div class="niuwa-wrap sectionsub2" style="margin-top:60px;position: relative;">
                            <div>
                                <img src="/imgs/niube/sm.png">
                                <div class="s2-lm">&nbsp;
                                    <div style="margin-top:10px"><img src="/imgs/niube/ewm2.png"></div><br>
                                    <div><a href="https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8"><img src="/imgs/niube/iphonexz2.png"/></a></div><br>
                                    <div><a href="https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk"><img src="/imgs/niube/androidown2.png"/></a></div>
                                </div>
                            </div>
                            <div class="s2-bxx">
                                <div><img src="/imgs/niube/atm1.png"></div>
                            </div>
                            <div class="s2-bxx2">
                                <div style=" margin-top: -6px;"><img src="/imgs/niube/atm2.png"></div>
                            </div>
                            <div class="s2-money1"><img src="/imgs/niube/money.png"></div>
                            <div class="s2-block">&nbsp;</div>
                        </div>
                    </div>
                    <div class="section" style="z-index:17" >&nbsp;
                       <div class="niuwa-wrap sectionsub3" style="margin-top:100px;position: relative;">
                            <div class="s3-bg"><img src="/imgs/niube/niubangdai.png"></div>
                            <div class="s3-i1"></div>
                            <div class="s3-i2"></div>
                            <div class="s3-i3"></div>
                            <div class="s3-i4"></div>
                            <div class="s3-i5"></div>
                            <div class="s3-i6"></div>
                             <div class="s3-txt">
                                <img src="/imgs/niube/xiaoyuan.png" />
                                </div>
                            <div class="s3-tb">
                                    <div style="margin-top:30px"><img src="/imgs/niube/ewm2.png"></div><br>
                                    <div><a href="https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8"><img src="/imgs/niube/iphonex3.png"/></a></div><br>
                                    <div><a href="https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk"><img src="/imgs/niube/androidown3.png"/></a></div>
                            </div>
                           
                       </div>
                    </div>
                    <div class="section">&nbsp;
                        <div class="niuwa-wrap sectionsub4" style="margin-top:60px;position: relative;">
                            <div><img src="/imgs/niube/dn.png"/></div>
                            <div class="s3-tb4">
                                <div style="margin-top:30px"><img src="/imgs/niube/ewm2.png"></div><br>
                                <div><a href="https://itunes.apple.com/cn/app/niu-bei/id998444014?mt=8"><img src="/imgs/niube/iphonex4.png"/></a></div><br>
                                <div><a href="https://ms.i-niuwa.com/file/downLoad?path=pl_niubei.apk"><img src="/imgs/niube/androidown4.png"/></a></div>
                            </div>
                            <div class="s4-tb">
                                <img src="/imgs/niube/shouji4.png">
                            </div>
                        </div>
                    </div>
               
            
        </div>

        <script type="text/javascript" src="/promo/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.rotate.min.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.fullPage.min.js"></script>

        <script type="text/javascript">

            $(function(){
                $('#fullpage').show();

                    var lun= function lun(obj,r){
                        $(obj).rotate({ 　
                　　　　  angle:0,  //起始角度
                　　　　　animateTo:r,  //结束的角度
                          duration: 3600,
                　　　　　callback:function(){
                            lun(obj,r);
                            }, //回调函数
                          easing: function (x,t,b,c,d){
                            return c*(t/d)+b;
                              }
                　 });
                };

                lun(".lun1img",360);
                lun(".lun2img",-360);
                lun(".lun3img",-360);
                lun(".lun4img",360);
                lun(".lun5img",-360);
                lun(".lun6img",360);
                lun(".lun7img",360);
                lun(".lun8img",360);
                lun(".lun9img",360);
                lun(".lun10img",360);

                $('#fullpage').fullpage({
                    sectionsColor: ['#f0b94b', '#48c896', '#fa6464', '#4bafff'],
                    anchors: ['page1', 'page2', 'page3', 'page4'],
                    menu: '#menu'
                });
                setInterval(function(){
                    $(".s2-money1").show();
                        $(".s2-money1").animate({top:"520px"},1000,"linear",function(){
                        $(".s2-money1").hide();
                        $(".s2-money1").css("top","300px");
                     });

                },2000);


                function s(cs,sorucetop,restop){
                    if($(cs).css("top")==restop){
                        $(cs).animate({top:sorucetop},1000,function(){
                            s(cs,sorucetop,restop);
                        });
                    }else{
                        $(cs).animate({top:restop},1000,function(){
                            s(cs,sorucetop,restop);
                        });
                    }
                }

                s(".s3-i1","-79px","-89px");
                s(".s3-i2","115px","125px");
                s(".s3-i3","60px","50px");
                s(".s3-i4","84px","64px");
                s(".s3-i5","126px","146px");
                s(".s3-i6","-90px","-100px");
             
                $(".section").css("height",$(".section").height()+20);
                var centerheight=($(".fp-tableCell").height()-500)/2+30;

                $(".sectionsub").css("margin-top",centerheight);
                $(".sectionsub2").css("margin-top",centerheight);
                $(".sectionsub3").css("margin-top",centerheight+100);
                $(".sectionsub4").css("margin-top",centerheight+20);
                $("#menu").css("margin-top",($(".fp-tableCell").height()-180)/2)
               var restime=null;
                $(window).resize(function(){
                restime=setTimeout(function(){
                    var centerheight=($(".fp-tableCell").height()-500)/2+30;
                    $(".sectionsub").css("margin-top",centerheight);
                    $(".sectionsub2").css("margin-top",centerheight);
                    $(".sectionsub3").css("margin-top",centerheight+100);
                    $(".sectionsub4").css("margin-top",centerheight+20);
                },500);


                });

            });

if(top != self){  
        location.href = "about:blank";
    }

        </script>
       
       
    </body>
</html>